[2014-10-06 10:54] FrenchHope opened #1 "Can't install ownCloud app"
error message in owncloud.log :

{"app":"core","message":"App \"ocsms\" is using a not allowed call \"OC_DB::\". Installation refused.","level":3,"time":"2014-10-06T09:36:04+00:00"}﻿

[2014-10-06 11:25] zoic21 opened #2 "[Android] Force close parameters on Andoird 4.4.4"
Hi,

I juste install owncloud sms app, I can configure new account but when I re-click on the owncloud sms account I had a force close. I send you report bug.

My phone : nexus 4 on Android 4.4.4.

Like you say, the problem seem due to an api update between android 4.2 and 4.4.

Thank in advance

[2014-10-06 20:13] #2 closed, assigned to nobody

[2014-10-07 08:27] Doooooo0o opened #3 "Android App won't sync"
Hello there,
Nothing logged on the server side, and the android apps simply says `sync encountered errors and will be restored soon ...` N.B. it's a poor translation of the french version of the message, but you get the idea :)
FYI :
- Android 4.3.1 (Cyanogenmod 10.2-20131229-NIGHTLY-i9100)
- Samsung GT-I9100

Server side :
- ownCloud 7.0.2
- nginx/1.6.2
- PHP-FPM (5.4)

[2014-10-07 11:44] #3 closed, assigned to nerzhul

[2014-10-08 06:21] Doooooo0o opened #4 "Feature-request: sending sms from ocsms app"
Hello,
Since you've asked for it, i might have a feature idea :
Why not add a prompt to send sms from owncloud to your cellphone ? Kind of a 2-way sync between the apps.

[2014-10-08 07:31] xuhdev opened #5 "Not able to install: not allowed code in the App"
Don't know whether it's caused by this app or a configuration problem, but it's better to be listed in README even it's a configuration problem.

The error message is

[code]

Relavant log:

[code]

[2014-10-08 08:02] Doooooo0o opened #6 "[bug] Synced Conversations splitted in two"
Server

[code]

Client

[code]

Like i said in here : https://github.com/nerzhul/ocsms/issues/1#issuecomment-58315390
I have a few more problems about sync : the first one is that the large conversation that I have by text message with my GF are split in two. The first part is her talking, the second, in a second conversation, is mine.

[2014-10-08 08:59] #5 closed, assigned to nerzhul

[2014-10-08 14:25] spoorun opened #7 "Ability to store delivery information and dates"
At present the app seems to merely record a single timestamp for each message.

It would be good for incoming and outgoing messages to store: 1) sent timestamp, 2) received timestamp, 3) delivery status.

For incoming messages this information is static. Obviously for outgoing messages, the delivery status is dynamic, and the timestamp is not marked until it has been delivered (or not).

This info

[2014-10-08 14:26] spoorun opened #8 "Ability to deal with contacts with multiple numbers"
It would be very useful to be able to deal with multiple numbers from a single contact, either in a single thread (but marked per number), or let the user have a choice whether to combine these messages.

[2014-10-09 18:58] #8 closed, assigned to nerzhul

[2014-10-10 09:09] xuhdev opened #9 "Is the client going to be open sourced?"
This bothers me because I don't like apps which don't have source code available on my phone... Is there a plan to open source the client? If you want to sell it for money, actually opening it under a non-free license is a possible option -- claim it open source so people can see what's in the code, and no one can build it legally so that you can be the only seller on Google play or other stores.

[2014-10-10 09:20] #9 closed, assigned to nerzhul

[2014-10-10 09:26] xuhdev opened #10 "Android Client: installed but no laucher to launch"
Android version: 4.4.4
Phone: kltevzw (Galaxy S 5 verizon)

[2014-10-10 09:34] #10 closed, assigned to nobody

[2014-10-16 11:56] Knah-Tsaeb opened #11 "No content in web apps"
Hi,
I have no conversation or message in web apps, but if I look ocsms_smsdatas mysql table, all info are present without apparent error (user_id is good). If you are a idea, you're welcome.

Server
    ownCloud version: 7.0.2
    ownCloud SMS app version: 1.1.0
    PHP version: 5.5.9
    HTTPd server: Apache 2.4.7
    HTTPS: Apache 2.4.7

Client
    Android version: 4.2.2
    Phone: Wiko Rainbow

[2014-10-17 08:36] #11 closed, assigned to nerzhul

[2014-10-20 15:44] Sevlin opened #12 "Fails to load conversations (Contact not found [404])"
Hi,

I really like the idea of your extension/app, but I'm having some troubles with it.
The ownCloud-side app fails to load conversation list and throws exception:
Exception: Contact not found [404]

Messages are being pushed to server correctly.

I've noticed that in database (column sms_address) addresses are stored differently. Some are being stored with whitespaces (ex. +380 11 222 3333) and

[2014-10-21 23:46] voodoos opened #13 "Spaces in phone numbers don't resolve in adressbook"
It seems that Ocsms is unable to match phone numbers written with spaces (XX XX XX XX XX) with the ones of contacts.

(Of course, the corresponding contacts also have their number writtent with spaces in the addressbook.)

[2014-10-22 14:39] voodoos opened #14 "Conversation not sorted by last message timestamp"
I don't know if this is a feature or a bug, but the conversation appears to be more or less randomly sorted in the left pane's list in my installation of ocsms.

It would be more usefull to have the conversations with the more recent messages on top of the list.

[2014-10-23 10:45] #6 closed, assigned to nerzhul

[2014-10-23 11:33] #13 closed, assigned to nerzhul

[2014-10-24 07:11] #12 closed, assigned to nerzhul

[2014-10-26 15:53] mozzwald opened #15 "Add support for US number format"
I am having same issue as https://github.com/nerzhul/ocsms/issues/13 but with US formatted phone numbers.

It is common in US to format numbers with parentheses and hyphen like (XXX) XXX-XXXX. This causes split listings in OCSMS, one matched to the contact (sender, with US format number) and the other listed as the 10 digit number with no formating (XXXXXXXXXX). This problem can be fixed by adding

[2014-10-27 09:58] #14 closed, assigned to nerzhul

[2014-10-27 14:32] mozzwald opened #16 "Add sort by date or alphabetical option to left pane"
It would be nice to have 'sort by' option at the top of the left pane to choose by date or alphabetical.

[2014-11-02 01:54] enoch85 opened #17 "ownCloud.log is flooded with errors and it doesn´t sync"
## Issue template

**Server**
- ownCloud version: 7.0.2
- PHP version: PHP 5.3.10-1ubuntu3.15 with Suhosin-Patch (cli) (built: Oct 29 2014 12:19:04)
- HTTPd server: ?
- HTTPS: yes (trusted)

**Client**
- Android version: 4.4.4
- Phone: Google Nexus 5
- ownCloud SMS app version: 0.15.3

[code]

Please fix all of them.

[2014-11-02 15:52] #17 closed, assigned to nerzhul

[2014-11-03 00:37] enoch85 opened #21 "Add a delete button to delete messages or converstions"
As it is today you can only read messages. But it should also be possible to delete:
- [x] Whole conversations
- [x] Separate SMS

The most simple soulution would be to use the svg-icon that ownCloud uses to delete things. Of course this should be synced with [Also sync deleted messages with 2-way sync](https://github.com/nerzhul/ownCloud-SMS-App/issues/7)

[2014-11-03 00:39] enoch85 opened #22 "Sync photos of contacts"
Use the Contacts app information to sync the photos of contacts in your adress book.

[2014-11-03 11:40] enoch85 opened #23 "Mobile CSS is wrong"
http://goo.gl/rhvE3F

You can't swipe to see the conversations.

[2014-11-03 21:23] enoch85 opened #24 "Already read messages don´t sync with server"
### Steps to reproduce
1. Get a SMS on your phone
2. Read it
3. Go to server
4. Message is unread.

This should be synced, but I guess that comes with the 2-way sync in 2.0?

[2014-11-05 11:13] #1 closed, assigned to nerzhul

[2014-11-14 12:59] Knah-Tsaeb opened #25 "CSRF check failed"
Hi,
when my phone try to sync with my server, my phone say :
`Error #9 : Server set unhandled HTTP return code.`

And my server say :
`no app in context  CSRF check failed`

Server

[code]

Client

[code]

[2014-11-19 14:08] #25 closed, assigned to nerzhul

[2014-12-11 04:44] cengbrecht opened #28 "Unable to create new database entries"
After dropping the two tables that were for OCSMS it seems that the app cannot recreate them.
Instructions for updating would be helpful, and a method to fix this would be awesome. :P

[2014-12-12 00:15] #28 closed, assigned to nobody

[2014-12-21 20:32] escandihado83 opened #29 "there isn't any conversation"
i have OC 7.04 and ocsms 1.3.2, apps it's install ok
i have a smartphone with ocsms owncloud, downloaded recently
my onwcloud instance is running ubuntu server 12.04, it works fine
there isn't any conversation yet

in sms-owncloud smartphone menu, synchronise is activated and up, no error displayed

[2014-12-29 09:50] #29 closed, assigned to nerzhul

[2014-12-30 10:30] gringo1er opened #30 "Conversations divided in 2 conversations"
some conversations are cut in two "conversations": one contains all words sorted by contact, and the other contains my words. The apparent phone number changes: the contacts phone numbers begin with +33 (french indicative, it's normal my contacts are as french as I am), and the other conversation begins with +49 (Germany??), followed with the right phone number.

All my OC zone parameters are Fran

[2014-12-30 21:03] prilly opened #31 "sql error "added" || "lastmodified""
values "added" || "lastmodified" in sql is zero "0000-00-00 00:00:00"

[2015-01-01 21:07] nerzhul commented on #31
At this time those values aren't used, this is normal.

[2015-01-02 18:04] torer opened #32 "Cropped text messages from iOS."
Hey,
when I get sms from iphone with emoticon, on page  appears only text in front of emoticon.
Regards
Torer
![sms](https://cloud.githubusercontent.com/assets/2254106/5598159/0b5ed9b0-92b1-11e4-97e2-f5014a8fd300.png)

android app: 0.16.0
owncloud: 7.0.4-3
ocsms: 1.3.2

[2015-01-02 18:21] nerzhul commented on #32
Hi,
thanks for your bug report. can you look into your database to check what is present for this message into oc_ocsms_smsdatas ?

[2015-01-02 18:36] torer commented on #32
Surley:
id: 454
user_id: xxxxx
added: 0000-00-00 00:00:00
lastmodified: 0000-00-00 00:00:00
sms_id: 555
sms_address: +48xxxxxxxxx
sms_msg: Dziekuje
sms_date: 1420115964156
sms_flags: 00
sms_mailbox: 0
sms_type: 1

Database:
mariadb-server  5.5.40-0ubuntu0.14.04.1
DEFAULT CHARACTER SET latin1

[2015-01-02 19:53] nerzhul commented on #32
Then this is the only message present in your phone, maybe second part is splited into MMS on Android

[2015-01-02 20:24] torer commented on #32
Hmm, it's looking like sms. In message details i see "SMS", but this emoticons are small images, not text. When i send this sms via mail, i got weird char. In html view i see icon, but in source is something like "đ" or small rectangle.

When my friend will come back from holiday, i'll check how she sent messages like this.

When you send message from mobile to server, app is using POST request to

[2015-01-02 20:55] torer commented on #32
And, when i'm trying forward message via sms, i got warning "This message contain special chars". This small image must be a some shit included in font.

[2015-01-03 10:15] nerzhul commented on #32
Yes, i think it's related to message content. OwnCloud SMS sync the raw data of the message, then there is no issue for us here, but a problem in your real message

[2015-01-03 10:15] #31 closed

[2015-01-03 10:17] nerzhul commented on #30
In fact, the current PhoneNumberFormatter replace prefix with +49, because it's a german fix. I will fix this problem soon by introducing a variable into app settings to set the current prefix by country

[2015-01-03 11:00] nerzhul commented on #30
https://github.com/nerzhul/ocsms/commit/ab3bd8718eba817bba14c6bddc8fef3ea9374bbc

Work in progress, i will add option today or tomorrow into ocsms app

[2015-01-03 11:02] nerzhul commented on #15
Work in progress.

Added a basic countrycode mapper based on Google Play Store buyers stats (ocsms and global stats): https://github.com/nerzhul/ocsms/commit/ab3bd8718eba817bba14c6bddc8fef3ea9374bbc

If you want your country in the mapper please tell me, if it miss, i need to add it manually, and i do the fix for many clients first.

Next commit will be the add of an option into ocsms interface to

[2015-01-04 20:46] enoch85 commented on #15
Ok, so this went very wrong. No I have my conversations splitted in three:

![image](https://cloud.githubusercontent.com/assets/4511254/5607403/1a4f08cc-945b-11e4-9508-ea8d7b75bd5c.png)

And the phonenumber is +49 (hardcoded) though it should be +46 (Swedish)

[code]

[2015-01-05 08:45] nerzhul commented on #15
In fact, a commit introduce a bug by hardcoding german translation. I'll try to get time to write a commit to select an international prefix option and remove this problem this week...

[2015-01-05 12:48] enoch85 commented on #15
Sounds good! :)

[2015-01-06 10:40] stagprom commented on #15
Quick and dirty workaround:
change line 56 in ocsms/lib/phonenumberformatter
		$lpnrpl = '+49$2';						// replace with +49 -xx[x[x]]-123456
in
		$lpnrpl = '+46$2';						// replace with +46 -xx[x[x]]-123456
for swedish formatting.
This works for most countries except north amerika

[2015-01-06 13:15] enoch85 commented on #15
change line 56 in ocsms/lib/phonenumberformatter
$lpnrpl = '+49$2'; // replace with +49 -xx[x[x]]-123456
in
$lpnrpl = '+46$2'; // replace with +46 -xx[x[x]]-123456
for swedish formatting.
This works for most countries except north amerika

It still dosen´t fix the problem as expected.

![image](https://cloud.githubusercontent.com/assets/4511254/5628983/6f229f90-95ae-11e4-8fc4-9c059b5fcb98.png)

[2015-01-06 13:17] nerzhul commented on #15
No, wait i'm thinking on the intl fix on my free hours, look at commits :)

[2015-01-06 13:28] enoch85 commented on #15
It will be interesting to see how that DB works  out, and looks. :)

[2015-01-06 13:28] nerzhul commented on #15
it will be a select view where your select your country and the algorithm will fix the duplicates because it knows what is your country

[2015-01-06 13:37] enoch85 commented on #15
Sounds nice! Expected release?

[2015-01-06 13:39] nerzhul commented on #15
Not at this time, many code are defined but i need to link code parts together, but i think i'll do a tagging this week

[2015-01-06 21:52] gringo1er commented on #30
Hello
Could you explain where phone numbers are stored inside the database? I would like to try to change +49 into +33 for archived sms, with mysql workbench....
Thanx

[2015-01-08 07:41] nerzhul commented on #32
It's a problem into SMS client, not into ocsms. close issue

[2015-01-08 07:41] #32 closed

[2015-01-09 18:16] nerzhul commented on #30
Hi, i fixed the problem now.

Please pull master at this commit: https://github.com/nerzhul/ocsms/commit/c5a932430586d15f83e18a275c94090a2bc1e3fe

Next, go to SMS app, set a country into settings (bottom of conversations) and refresh the page.
At this time setting is not shown in the dropdown but it's into database. Page refresh is not done automaticly because i'll migrate many JS code to angular

[2015-01-09 18:17] nerzhul commented on #15
HI @enoch85  and @mozzwald

i fixed the problem now.

Please pull master at this commit: https://github.com/nerzhul/ocsms/commit/c5a932430586d15f83e18a275c94090a2bc1e3fe

Next, go to SMS app, set a country into settings (bottom of conversations) and refresh the page.
At this time setting is not shown in the dropdown but it's into database. Page refresh is not done automaticly because i'll migrate

[2015-01-09 18:23] enoch85 commented on #15
@nerzhul And there my friday went from 30% good to 100% in just 2 seconds: :+1:

[2015-01-09 18:37] mozzwald commented on #15
Choosing a country isn't being saved in the database for me. From owncloud log:

{"reqId":"89dd0172e71","app":"index","message":"Doctrine\\DBAL\\DBALException: An exception occurred while executing 'SELECT key FROM `oc_ocsms_config` WHERE `key` = ? AND `user` = ?' with params [\"country\", \"mozzwald\"]:\n\nSQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL synta

[2015-01-09 18:38] enoch85 commented on #15
...And I wrote that before I tested. I get a WSOD and can´t access the app anymore. Hmm...

[2015-01-09 18:47] enoch85 commented on #15
[code]

[2015-01-09 19:05] nerzhul commented on #15
Hmm app seems to be broken somewhere. For @mozzwald problem https://github.com/nerzhul/ocsms/commit/f76a37663584bdb6a971f7b203e732d9dd5b12df fixes the SQL syntaxes, sorry i forget some ` for MySQL :)

For the PHP js file not found, this is strange, i haven't this issue, it's related to angular.js i think.
I need to fix another issue related to fetching conversation before

[2015-01-09 19:16] enoch85 commented on #15
Also got this:

[code]

[2015-01-09 19:20] nerzhul commented on #15
I forget argument and you have right PHP infos :)

Commit https://github.com/nerzhul/ocsms/commit/84db79a30031daaa285753dbf0ed616f70637def fix it.

But for countrycodes.php the file was here: https://github.com/nerzhul/ocsms/blob/master/lib/countrycodes.php

please look at your lib folder and check you have the right app, not stable but master branch

[2015-01-09 19:29] mozzwald commented on #15
@nerzhul no more syntax error but the country choice is not saved in db. ocsms_config table is empty

[2015-01-09 19:40] nerzhul commented on #15
It seems this is a problem with angular.js

https://github.com/nerzhul/ocsms/commit/642f78e859f6328df94aa9de1530553512af29cf remove one angular controller and may fix the db insert

[2015-01-09 19:56] nerzhul commented on #15
@mozzwald can you confirm that the problem is fixed now ? i think this is good and i need to learn more angular.js subtilities, because OC uses it and i haven't before this project :)

[2015-01-09 20:44] enoch85 commented on #15
@nerzhul I deleted the oc_sms tables in MySQL because I got a white screen trying to connect to the app. Now I get this:

[code]

Is there any way to force oc sms to create new tables?

[2015-01-09 21:01] gringo1er commented on #30
Hello. I have replaced ocsms. After a quick upgrade process (when OC rebooted), when I click on SMS tab, I obtain a white page.
At the dev console, I obtain that message:
Failed to load resource: net::ERR_CACHE_MISS, and an error 500
I'm sorry...... i imagine that you worked hard to solve that issue

[2015-01-09 21:11] gringo1er commented on #30
A new install of the former version, and the sms tab is back (with the issue, of course).

[2015-01-09 21:32] nerzhul commented on #30
Have you selected a lang, click on validate and refresh the page ?

[2015-01-09 21:33] nerzhul commented on #15
@enoch85 disable and reenable the app must do the trick i think

[2015-01-09 21:36] mozzwald commented on #15
@nerzhul country is now saved in db

[2015-01-09 21:46] gringo1er commented on #30
no, impossible because the page was totally blank. No conversation, no menu.....

[2015-01-10 13:37] nerzhul commented on #30
That's strange. Can you remove app and reinstall it properly ? I think there is a problem somewhere in your installation

[2015-01-10 14:33] gringo1er commented on #30
Already done. I have removed it (with an action on the "disable" button). And reinstalled it. Same issue. I removed once again and installed the former version, it worked (with the known prefix issue of course).
On your last message you gave a link to the contain of a file, not to the commit. Maybe I downloaded a wrong version of the commit.

[2015-01-10 15:57] nerzhul commented on #30
@gringo1er sorry for that commit.
I do many commits yesterday and today to improve app development and stability. Can you confirm setting language and refreshing main page fix the duplicate conversations ?

[2015-01-10 21:22] gringo1er commented on #30
tested with the fb8003faf2 commit... Sorry, but the sms tab doesn't charge (or doesn't stop charging, but doesnt finish charging). Due to the absence of the menu, I can't verify the language setting.....

New stop, news reinstall of the 1.3.1 version, new start.....

I don't know what to say to help you....   :°(

[2015-01-11 08:59] nerzhul commented on #30
Rmrlmlr, it's very strange. Why is this working for me but not for you.
Have you got JS errors ? apache errors ? php errors ?

[2015-01-11 12:31] gringo1er commented on #30
Here is an extract of owncloud error log

Error	PHP	js file not found: script:js/public/app formfactor: serverroot:/var/www/owncloud at /var/www/owncloud/lib/private/template/resourcelocator.php#49
Fatal	index	Exception: js file not found: script:js/public/app formfactor: serverroot:/var/www/owncloud

Here is the correspondant extrat of IE console

HTML1524: DOCTYPE HTML5 non valide. Utilisez plut

[2015-01-11 17:22] nerzhul commented on #30
Hmm another user report this error, i don't know at this time where does it comes from but i'll try to fix it faster.
No problem for french, i'm french too

[2015-01-12 06:56] nerzhul commented on #30
In last setup i added empty js/public/app.js.
 https://github.com/nerzhul/ocsms/commit/555d8f1ed117121710cc4e41b48aaad215768708

Can you try this commit ?

[2015-01-12 07:07] nerzhul commented on #30
Oh, i found the issue i think.

You need to have app framework enabled. It's because i include a dependency.

https://github.com/nerzhul/ocsms/commit/1a1e7000f275edb384e06b8297ae6fea328fe149

[2015-01-12 07:09] nerzhul commented on #30
Ok go to https://github.com/nerzhul/ocsms/commit/100308b9ec01f6482cc09239df5e61a9acd2895e
And tell me

[2015-01-12 07:10] nerzhul commented on #15
Please go to https://github.com/nerzhul/ocsms/commit/100308b9ec01f6482cc09239df5e61a9acd2895e
and tell me if you got problems please

[2015-01-12 16:58] mozzwald commented on #15
no problems for me so far at 100308b

[2015-01-12 17:04] nerzhul commented on #15
That's good ! we can think 1.4 can be on rails :)
I'll finish avatars and angular JS migration and i tag 1.4, next we can do more things on android client and server side

[2015-01-12 18:26] nerzhul commented on #15
@mozzwald can i close this issue ?

[2015-01-12 18:29] mozzwald commented on #15
It's a done deal! Thanks for the hard work :)

[2015-01-12 18:29] #15 closed

[2015-01-12 19:22] gringo1er commented on #30
Ok. Where to include the framework app? I mean, it's not a native app, so I found 2 versions of app framework on app.owncloud.com. Witch version do I need to download?

[2015-01-12 19:26] nerzhul commented on #30
https://apps.owncloud.com/content/show.php/App+Framework?content=158433 i think. But normally you have app framework included in your app list, no ?

[2015-01-12 20:02] gringo1er commented on #30
how how how!!! Dear Santa! It works! After a quick check, conversations with the same callers , splitted with the preview version, have gathered!

Maybe we could close.... Good job my dear.

Nota: a request.... Maybe you could add a function to suppress conversations? With a bin located near each conversation?

[2015-01-12 20:15] gringo1er opened #33 "contacts photos mixed"
Hello!
With the new (and excellent) 1.3.6 version, I have a little issue: some sms are matched with the photos of contacts stored on OC contact functions.

But they are mixed.... For most of them, photos don't match with the right author of conversations

[2015-01-12 21:39] gringo1er commented on #33
Oh.... After a reboot of my server, the bug disappeared, each photo matches with the right conversation..... Strange... I close the issue

[2015-01-12 21:41] gringo1er commented on #33
.... but when I refresh the page (with F5), images mixed again. I reopen the issue (closed too quickly)

[2015-01-12 22:47] enoch85 commented on #30
IT WORKS! :beers:

[2015-01-12 22:54] enoch85 commented on #30
But it flooded my log with errors of 'undefined index' before setting the country in the menu.

[code]

And then this:
[code]

[2015-01-13 06:22] nerzhul commented on #33
The avatar code isn't finished yet, 1.3.6 isn't production usable, i'll look at this strange bug

[2015-01-18 15:51] nerzhul commented on #30
Hi @enoch85 thanks for your report. I fix the 1st warning in commit https://github.com/nerzhul/ocsms/commit/759dadbd607be6eb19b0cc4f301e9bf70c07daa6 (forget to test this array).

For the second, please verify you have db/configmapper.php.

Issue closed ! thanks to all

[2015-01-18 15:52] #30 closed

[2015-01-18 16:06] nerzhul commented on #33
Please use https://github.com/nerzhul/ocsms/commit/a0c820ab820600ee076a5b05b102f5624d93fc1a and tell me. I'll release 1.4.0 today, i don't found any algorithm bug but i added fixes which may fix you problem.

I'll let your ticket opened

[2015-01-18 16:07] nerzhul commented on #22
Done

[2015-01-18 16:07] #22 closed

[2015-01-18 19:19] gringo1er commented on #33
No, I'm sorry
The bug remains present, but with Google Chrome only....
At the first connection, photos match with conversations. But after an action on F5 (or reload page, or action on SMS logo), photos don't match with conversations anymore... If I close and reopen the SMS tab with my browser, it is like if I open for the first time.

When I follow the same test and process, with IE, the bug is g

[2015-01-19 10:38] delumerlino opened #34 "Missing App from webview"
Hi, just updated ocsms from 1.3 to 1.4 on my owncloud 7.0.4.
The application is listed and enabled in the application list, but my user is unable to access to it (it is not listed in the published apps for user).
Thank you

[2015-01-19 11:26] nerzhul commented on #34
Hi @delumerlino ,
it's very strange, rights haven't changed between 1.3 to 1.4.
Can you disable and enable app ? Have you filtered by groups ?

[2015-01-19 11:35] delumerlino commented on #34
Hi, I rewrote the permissions in the folder and tried to disable/enable the
app from Webapps but nothing changed...
Also tried to reboot my Ubuntu station but nothing happened.

When installed, owncloud did the database update, so it seems to be
installed...

TY
Il 19/Gen/2015 12:26 "nerzhul" <notifications@github.com> ha scritto:

[2015-01-19 11:38] nerzhul commented on #34
Do you see something in owncloud.log or apache logs ?

Application doesn't appear in app menu for user, right ?

[2015-01-19 11:45] delumerlino commented on #34
Thank you,
I can see only this in owncloud.log:
{"app":"ocsms","message":"Can not enable the OcSms app because the App
Framework App is disabled","level":3,"time":"2015-01-19T11:40:18+00:00"}
Apache.log is normal.

And yes, the application doesn't appear in the app menu for each user.

Regards

Andrea

2015-01-19 12:38 GMT+01:00 nerzhul <notifications@github.com>:

--
-----------------------------

[2015-01-19 11:46] nerzhul commented on #34
Then, enable the app framework, like the log said :)

[2015-01-19 11:55] delumerlino commented on #34
Thank you! Sorry but haven't read about FW :)

2015-01-19 12:46 GMT+01:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-01-19 12:55] nerzhul commented on #34
no problem

[2015-01-25 20:08] cwmilwaukee commented on #34
I appologize if I missed something but I'm having the same issue as delumerlino.  From what I can tell, in Owncloud 7, the app framework is built into Owncloud.  I remember in some of the older versions app framework would show up in the app menu.  Is there another way to activate the internal app framework?

Thanks a lot for any help you can provide.

[2015-01-26 07:37] RookieIV opened #35 "Can not enable the OcSms app because the App Framework App is disabled"
I installed ocsms on my Owncloud 7.0.4 (https = on). PHP Version is unknown.

I get following error: "Can not enable the OcSms app because the App Framework App is disabled"

This is an excerpt of the owncloud.log

...
$
{"reqId":"54c5ed6866f25","app":"ocsms","message":"Can not enable the OcSms app because the App Framework App is disabled","level":3,"time":"2015-01-26T07:31:52+00:00","method":"PO

[2015-01-26 10:11] ericfont opened #36 ""No app name specified" when try to enable ocsms v1.4 in my owncloud apps webpage"
I downloaded your v1.4 zip and opened my owncloud apps webpage, press the Enable button, but it fails to enable and says: "No app name specified".  Also when looking up the link "See application page on apps.owncloud.com" (http://apps.owncloud.com/content/show.php?content=ocsms) it has an empty app page with text "Content not found".

Server

    ownCloud version: 7.0.4
    PHP version: 5.6.5

[2015-01-26 10:19] nerzhul commented on #35
have you got the AppFramework enabled ?

[2015-01-26 10:21] nerzhul commented on #36
I see you use PHP 5.6, can you confirm that the bug is present with PHP 5.5 and 5.4 (I'm using 5.4 ATM, but i need to upgrade)

[2015-01-26 10:23] nerzhul commented on #36
you are right, application name is different on app store.

But content=ocsms must be content=167289 . I don't know atm where does this bug comes from.

Have you tested with PHP 5.5 and 5.4 ?

[2015-01-26 10:32] nerzhul commented on #34
Ok, i found the issue, it's due to 6.0 compat.

[2015-01-26 10:33] nerzhul commented on #35
Issue found. I do a new release, it's a problem with 6.0 compat

[2015-01-26 10:40] nerzhul commented on #34
Fixed in tag 1.4.1, sorry

https://github.com/nerzhul/ocsms/tree/v1.4.1

[2015-01-26 10:40] #34 closed

[2015-01-26 10:40] nerzhul commented on #35
Hi,
it's fixed into 1.4.1, tagged now on github

https://github.com/nerzhul/ocsms/tree/v1.4.1

Sorry for the inconvenience

[2015-01-26 10:40] #35 closed

[2015-01-26 10:47] ericfont commented on #36
I haven't tested with php 5.5 or 5.4, and I don't really know how to easily downgrade packages on arch linux easily, and don't have an earlier packages for php cached.

[2015-01-26 10:48] nerzhul commented on #36
php 5.5 and 5.4 are in AUR

aur/php54 5.4.34-2 (1)

[2015-01-26 12:54] RookieIV opened #37 "Exception: js file not found: script:js/public/app formfactor: serverroot:/var/secure/owncloud"
Hello,

Sorry for beeing so annoying. The Issue #35 is solved. But there is another problem.

I installed the app, everything worked fine. But when i start it, i get a blank page an following errors.

{"reqId":"54c637de1e4d7","app":"index","message":"Exception: js file not found: script:js\/public\/app formfactor: serverroot:\/var\/secure\/owncloud","level":4,"time":"2015-01-26T12:49:34+00:00","me

[2015-01-26 13:32] nerzhul commented on #37
erf.... i'll look at this now, sorry for the inconvenience. It's related to angular.js and appear sometimes, but i thought i resolved it.

[2015-01-26 13:34] nerzhul commented on #37
I do a clean owncloud install and have the problem (the problem is not present on my instance...)
I'll fix it soon

[2015-01-26 14:03] ericfont commented on #36
just finished compiling php54 on yaourt, but then halted install due to a bunch of dependencies that were messed up, and I don't feel like redoing my server's config now.

However, I would be willing to try to setup a new VM server with same config just with php54 instead...not today, but let me know if you need me to do that to test.  Or better you if you want to send me some simple patches I can

[2015-01-26 14:34] Knah-Tsaeb commented on #36
In Archlinux, you can use Downgrader app https://aur.archlinux.org/packages/downgrader/ for search older package and install it.

[2015-01-26 14:43] nerzhul commented on #36
Unfortunately i haven't any solution at this time for this problem and i need to fix an angular.js problem in 1.4.1 :s

[2015-01-26 15:06] nerzhul commented on #37
Okay, it's fixed, it's an issue with 6.0 compat and angular.js 1.2. I revert back angular to 1.1.5 and remove appframework angular use.

Please use tag 1.4.2

[2015-01-26 15:06] #37 closed

[2015-01-26 20:05] cwmke commented on #34
No trouble at all.  Thanks for the quick fix.

[2015-01-26 20:36] ericfont commented on #36
Well I installed your latest version, this time following the directions here https://apps.owncloud.com/content/show.php/SMS+app?content=167289, which stated to rename the folder to ocsms, and that worked.  So that was most likely the problem.

Anyway, please copy those directions about renaming the folder into both your readme and wiki so that people like me who found your app through f-droid or

[2015-01-26 20:36] #36 closed

[2015-01-27 07:52] nerzhul commented on #36
@ericfont thanks for the tip, i remember  that was this issue some months ago. I'll add it to apps.owncloud.com description

[2015-01-27 21:38] flyinva opened #38 "Lot of timeout with nginx"
Server

    ownCloud version: 7.0.4
    PHP version: 5.4.36
    HTTPd server: nginx
    HTTPS: yes

Client

    Android version: 4.4
    Phone: HTC Wildfire
    ownCloud SMS app version: 1.4.1

Content of /owncloud/data/owncloud.log : nothing in owncloud.log

I have a lot of error message in nginx/error.log concerning timeout

    2015/01/27 22:32:16 [error] 26577#0: *6559 upstream timed out (110:

[2015-01-28 07:59] nerzhul commented on #38
Hi @flyinva , can you upgrade to 1.4.2 and do a test. Problems are with owncloud in general or only with ocsms app ?
Upgrade 1.4.2 can help

[2015-01-31 18:25] enoch85 opened #39 "Error in smsmapper.php and Appframwork"
I reeally wonder what this is:

[code]

Running 1.4.2.

[2015-02-09 15:41] GregWildman opened #40 "Add country code"
Hello,

Please add South Africa (+27) to lib/countrycodes.php

Thanks.

[2015-02-09 19:26] nerzhul commented on #40
HI @GregWildman , +27 is added in master. It will be available on next release

[2015-02-09 19:26] #40 closed

[2015-02-12 07:01] martin-rueegg opened #41 "Version 1.4.2 shows as 1.4.1"
appinfo/info.xml should read
[code]

[2015-02-12 07:14] martin-rueegg opened #42 "Version 1.4.2 cannot be enabled in OC 8.0.0"
i've tried to enable the app from /index.php/settings/apps and get **No app name specified** (see owncloud.log below).

# Version info
## Server
    ownCloud version: 8.0.0 (ubuntu 8.0.0-5)
    PHP version: 5.5.9-1ubuntu4.5
    HTTPd server: apache2 2.4.7-1ubuntu4.1 amd64
    HTTPS: yes
    ocsms version: 1.4.2 (displayed as 1.4.1)
    Download: https://codeload.github.com/nerzhul/ocsms/zip/v1.4.2

[2015-02-12 07:37] martin-rueegg commented on #42
installdir must be:

     /var/www/owncloud/apps2/ocsms

not

     /var/www/owncloud/apps2/ocsms-1.4.2

see comment of nrz dated from Oct 6 2014 over at https://apps.owncloud.com/content/show.php?content=167289&forumpage=0

[2015-02-12 07:37] #42 closed

[2015-02-12 08:26] nerzhul commented on #41
hello,
sorry i don't understand what you mean here ?

[2015-02-12 08:29] martin-rueegg commented on #41
sorry, i made a mistake in the issue title! :-)

the version string is set to **1.4.1** instead of **1.4.2**

[2015-02-12 08:33] nerzhul commented on #41
Right... i fix it now

[2015-02-12 08:37] nerzhul commented on #41
Fixed, we bump to 1.4.3

[2015-02-12 08:37] #41 closed

[2015-02-12 20:31] martin-rueegg opened #47 "indexes on database"
i was quite astonished to see no indexes on the database. i would suggest the following.

(numbers in the index rows reflect the ordinal position of the field within the index

### \*PREFIX\*ocsms_config
function | key | user | value
-----------|-------|-------|--------
set | x | x
hasKey | x | x
getKey | x | x
**suggested index** |
PRIMARY | 2 | 1
:heavy_exclamation_mark: this is not possible, un

[2015-02-12 21:47] martin-rueegg commented on #39
### Investigation
db/smsmapper.php#45 reads:
[code]

SmsMapper::$mailboxNames contains the following entries:
[code]
so 0-2 are valid indices. the data **$row["sms_mailbox"]** is comming from the db table \*PREFIX\*ocsms_smsdatas

so any value is inserted either by the sync client (via **writeToDB()**) or by the user directly to the db.

looking at the sync client, there are the follwing four code

[2015-02-12 22:44] jas4711 opened #50 "SMSs to same person shows as different conversations"
For some conversations, it seems there are two entries for the same person.  I see that the urls are '/owncloud/index.php/apps/ocsms/?phonenumber=+12 34 56 789#' vs '/owncloud/index.php/apps/ocsms/?phonenumber=+123456789#' -- notice the additional space.  I don't know where the space comes from, but I assume it should be stripped, and that both conversations show as the same conversation?

I'm usi

[2015-02-12 22:58] enoch85 commented on #39
### Server configuration

Ubuntu Server 12.04

**Database:**
Apache/2.2.22 (Ubuntu)
MySQL: 5.5.41
PHP version:
PHP 5.5.9-1ubuntu4.5 (cli) (built: Oct 29 2014 11:59:10)

**ownCloud version: (see ownCloud admin page)**
8.0
*Updated from an older ownCloud or fresh install:*
Updated from 5, 6, 7

**List of activated apps:**
Activity
Calender
Contacts
Deleted files
Documents
First Run Wizard
Full Text

[2015-02-12 22:59] enoch85 commented on #39
And yes, still happening.

[2015-02-12 23:11] martin-rueegg commented on #39
would you mind to dump:
[code]

[2015-02-12 23:44] enoch85 commented on #39
@martin-rueegg

![image](https://cloud.githubusercontent.com/assets/4511254/6179423/6562ca9c-b319-11e4-9614-a4022e8e26a1.png)

[2015-02-12 23:54] martin-rueegg commented on #39
great! now, i would be interested in the records with `sms_mailbox = 3`. please check if you can share some data of it. 3 is the enum for `MailboxID.ALL`.

could it be possible that the data has been synced to the server with an older client app?

as a workaround you could update the given records to have sms_mailbox = 2. the error should then be disappearing while you still can identify the recor

[2015-02-13 00:08] enoch85 commented on #39
@martin-rueegg MySQL shell isn't my expertise. ;) Please send the commands and I will execute them.

[2015-02-13 00:13] martin-rueegg commented on #39
###    send excemple data

if there is no sensitive data (please check or edit data):
[code]

otherwise avoid the message body using:
[code]

####  check if error is gone when sms_mailbox set to 2
[code]
then check logs while syncing.

[2015-02-13 00:17] enoch85 commented on #39
Checked, and sms_mailbox 3 is empty!

Will do a resync and put the output here.

[2015-02-13 00:23] martin-rueegg commented on #39
well, according to your first output, there is at least one record with sms_mailbox = 3. pleas still past the output of:
[code]
and
[code]

[2015-02-13 00:30] enoch85 commented on #39
I did the workaround as you said.

[code]

[code]

[2015-02-13 00:34] martin-rueegg commented on #39
ok.

1. do you still see the error?
2. any ideas about the two messages? do you remember them in the sense, that they have been created by an other app then the other smses you created? or have they not been sent successfully? or anything similar?

do you have a rooted phone? can you open your sms-database on the phone and see what the records for messages with id 2530 and 2960 are? are they MMS?

[2015-02-13 00:48] enoch85 commented on #39
No more error. :D

I have a Nexus 5, not rooted. Sorry.

New error though when opening the Web UI SMS:

[code]

[2015-02-13 01:06] martin-rueegg commented on #39
well, this might be a "new" error, or an error that is unrelated to the first one. but since the first error is now "solved", the program continues and runs in a second one.

obviously you have multiple contact address books. if i understand the code of `[lib/backend/shared.php](https://github.com/owncloud/contacts/blob/master/lib/backend/shared.php#L90)` correctly, you might even have a shared ad

[2015-02-13 01:08] enoch85 commented on #39
No, one adresssbook, but other adressbooks for other users on the server, so maybe that's the issue?

Thank you for helping out anyway! Any permanent fix for this in next release?

[2015-02-13 01:19] martin-rueegg commented on #39
well, it is not sure, where the error came from. so the issue is not "fixed"! :worried:

the SQL we run was only a workaround to see if my assumption is correct. according to the current code i cannot understand, where this mbox=3 came from! that's why i asked if you can recognize the messages you found by the sql-command:
[code]
it might help to see the data on your phone. but i have no idea how

[2015-02-13 01:32] enoch85 commented on #39
What table do I drop to redownload?

[2015-02-13 01:35] enoch85 commented on #39
Btw, it's regular SMS not MMS.

[2015-02-13 02:07] martin-rueegg commented on #39
read the instructions. in case of questions pls don't hesitate to ask.

**1** in phpmyadmin select the table `oc_ocsms_user_datas`
**2** on the top menu select `Operations`
**3** on the right hand side use the copy table function to copy the table with structure and data (default) to `oc_ocsms_user_datas_sav` (we will use that table later to restore the message-read-information).
**4** check that

[2015-02-13 02:20] enoch85 commented on #39
12.
[code]

[code]

Jumped a few steps, didn´t create .sav

[2015-02-13 02:21] enoch85 commented on #39
Now it's time for bed. Good night :)

[2015-02-13 02:35] martin-rueegg commented on #39
well, there seems to be either some messages missing or the sync is not complete. before the re-synch you reported:

now you only had:

no missing approx 200 msg.

how about:
[code]
can you (tomorrow) post the output?

jep. you're right! same, same.

[2015-02-13 06:08] nerzhul commented on #39
Hi.
Thanks for your investigations. MMS aren't read and synced with owncloud

[2015-02-13 06:53] nerzhul commented on #50
Hi @jas4711 this is already stripped, i relook at phone number formatter

[2015-02-13 08:12] jas4711 commented on #50
Hi.  Not sure I follow -- are you saying this is fixed already?  How to test?

[2015-02-13 08:19] nerzhul commented on #50
I said normally this bug cannot occur because it's already fixed. Have you got selected a language in the web interface settings ?

[2015-02-13 08:37] jas4711 commented on #50
I can't seem to be able to change the language -- it is the default 'Algeria' and I try to switch to Sweden and click the button, but whenever I go into the SMS app again it is still Algeria.  Any ideas?

Btw, shouldn't it use the language setting from ownCloud global?

[2015-02-13 08:37] nerzhul commented on #50
have you got an error in your apache/php logs ?

[2015-02-13 11:03] enoch85 commented on #39
I deleted some messages on the phone, that's why. :)

Med vänlig hälsning
Daniel Hansson

www.en0ch.se

Skickat från Google Nexus 5
Den 13 feb 2015 03:35 skrev "Martin Rüegg" <notifications@github.com>:

[2015-02-13 11:20] martin-rueegg commented on #39
yeah, i guess so. hope you don't mind not having them on the server any more.

still, could you check if the two messages that caused the error are still in your message set? if they're gone now, we will have to close this issue, as there is no way to find out, what was the cause of it. in fact, even if the messages are there we wouldn't be able to do so.

i see two possible reasons for the issue:

[2015-02-13 11:33] nerzhul commented on #39
Thanks for your report and your time. I think this 3 comes from the old version which doesn't filter types

[2015-02-13 11:52] enoch85 commented on #39
Thanks for helping out!

[2015-02-13 11:56] martin-rueegg commented on #39
welcome. :-)

well then, if an old version (or a user, in an other case) could have entered wrong values, would it then make sense to change [getAllIds()](https://github.com/nerzhul/ocsms/blob/master/db/smsmapper.php#L38) in one of the following way?
- [ ] only select messages with known mbox types
   ([Line 40](https://github.com/nerzhul/ocsms/blob/master/db/smsmapper.php#L40):  `'WHERE user_id =

[2015-02-13 12:56] nerzhul commented on #39
I will modify the sync process to improve the API in next app version , we can think about a modification for sync process V2

[2015-02-13 13:20] jas4711 commented on #50
Plenty of them... what should I look for?    Looking for 'sms' doesn't find anything recent though.

Is it possible to force a redownload of everything?  Disable+uninstall oc app, uninstall android app, install oc app, install android app?

[2015-02-13 18:02] nerzhul commented on #50
Give me an extract please

[2015-02-14 04:17] nroach44 opened #51 "Allow two-way sync"
Enhancement

Add an option to allow downloading the conversations from the server and syncing them on the phone - I just upgraded and it would be nice to sync all my old conversations.

[2015-02-14 04:21] nroach44 commented on #50
I'm getting the same issue and the only thing showing in the apache logs when I try to set an option is
[code]

[2015-02-14 08:32] nerzhul commented on #51
Hi, thanks for your issue. The goal of the next release is to restore messages

[2015-02-14 08:33] nerzhul commented on #50
@nroach44 keeping the language in the dropdown doesn't work ?

[2015-02-14 08:50] nroach44 commented on #50
No, it isn't retained.

[2015-02-14 08:50] nroach44 commented on #51
Okay, thanks!

[2015-02-14 18:47] nerzhul commented on #50
I'll look at this issue first

[2015-02-15 13:33] enoch85 commented on #39
[code]

Still same error.

[2015-02-15 13:58] martin-rueegg commented on #39
@enoch85 , what is the version of your sms-sync client? the current v0.17.0?

can you tell us something about the nature of the sms found by
[code]
guess we still should think about one of the solutions suggested in https://github.com/nerzhul/ocsms/issues/39#issuecomment-74243202

[2015-02-15 14:10] enoch85 commented on #39
@martin-rueegg The versions are 1.17.0 and 1.4.2.

The SQL didn't give any results.

[2015-02-15 14:20] martin-rueegg commented on #39
@enoch85, where did you get this version string ` 1.17.0` from? are we sure we're both talking about the [owncloud SMS android client](https://play.google.com/store/apps/details?id=fr.unix_experience.owncloud_sms)?

[2015-02-15 14:28] enoch85 commented on #39
![image](https://cloud.githubusercontent.com/assets/4511254/6203542/37d4bada-b527-11e4-99b5-989e9641967d.png)

[2015-02-15 14:36] martin-rueegg commented on #39
as to my https://github.com/nerzhul/ocsms/issues/39#issuecomment-74159945 the index is coming from the db table `*PREFIX*ocsms_smsdatas` (default `oc_ocsms_smsdatas`). the `sms_mailbox` field is a smallint and does not allow NULL values in `sms_mailbox`. so how could the error be thrown, if the query
[code]
doesn't return any results? :hushed:

@enoch85, do you have any  `dbtableprefix` in your `c

[2015-02-15 14:38] martin-rueegg commented on #39
@enoch85 please run again
[code]

[2015-02-15 14:40] enoch85 commented on #39
sms_mailbox	count(*)
0	1125
1	1309

[2015-02-15 14:41] enoch85 commented on #39
Hmm, look at the time. Maybe this is before we fixed it?

[2015-02-15 14:47] martin-rueegg commented on #39
what time? we havn't fixed anything yet. we have just re-synced all messages in order to see, if the android client is sending some "special" data.
according to the code, the data causing the error comes from the database. the data in the database comes from the client. so my idea was to find out, where the erroneous data is coming from.
now, according to your information, there is no erroneous da

[2015-02-15 14:48] martin-rueegg commented on #39
sorry for asking: are you sure you run the SQL on the same database, the oc instance creating the errorlog is accessing as well?

[2015-02-15 14:55] enoch85 commented on #39
@martin-rueegg haha, yes I'm sure.

[2015-02-15 15:09] martin-rueegg commented on #39
@nerzhul just noticed, that the following functions in the client *do not* check the mailbox. so there could be a mbox=3 message flawing to the server, right?
see:
* [getLastMessage()](https://github.com/nerzhul/ownCloud-SMS-App/blob/0.17.0/src/fr/unix_experience/owncloud_sms/engine/SmsFetcher.java#L127)
* [bufferizeMessagesSinceDate()](https://github.com/nerzhul/ownCloud-SMS-App/blob/0.17.0/src/f

[2015-02-15 15:14] martin-rueegg commented on #39
@enoch85, i know it was a funny question. but sometimes even Pros overlook a tiny little thing. at least i do. :smile:

i really don't know what to say. according to the code and your data i simply cannot understand why the error is occuring. can it be something in \OCP\DB::prepare, so that the result array is "strange"?

i'm stuck.

[2015-02-15 15:15] nerzhul commented on #39
In fact we trust the database content, because the only write is done by sync which permits only type 1 and 2. Could you provide a PR with the optimization you'll find we could discuss there.

[2015-02-15 15:28] martin-rueegg commented on #39
re: optimization: ok, i can do so, but please tell me how to define a optional parameter with a default value in java. (not sure if i'll get there today though ...)

re: database write

if either [bufferizeMessagesSinceDate()](https://github.com/nerzhul/ownCloud-SMS-App/blob/0.17.0/src/fr/unix_experience/owncloud_sms/engine/SmsFetcher.java#L191) (//Used by ConnectivityChanged Event) or  [getLastMe

[2015-02-15 15:30] martin-rueegg commented on #39
([found](http://stackoverflow.com/questions/965690/java-optional-parameters) about optional parameters)

[2015-02-15 16:00] enoch85 commented on #51
Dup of #24

[2015-02-15 16:32] #51 closed

[2015-02-15 16:32] nerzhul commented on #51
Right, i close

[2015-02-16 13:00] nerzhul commented on #47
It would be a good idea. Is this possible using appinfo/database.xml

[2015-02-16 13:01] nerzhul commented on #38
ping ?

[2015-02-16 13:03] nerzhul commented on #21
I thought about your issue. At this time it's possible to add a button for deleting conversation and SMS but i will not be removed from phone and at next phone sync the SMS will be resynced if present on the phone but not the app.

[2015-02-16 13:34] enoch85 commented on #21
Better to wait for 2 way sync.

[2015-02-16 13:52] nerzhul commented on #50
@nroach44 fixed by https://github.com/nerzhul/ocsms/commit/77a9e9cccf306d87d468b4edc3079b80e1a7021e

@enoch85 @jas4711 can you pull the last -stable application please ?

[2015-02-16 14:01] jas4711 commented on #50
Not exactly sure what to test -- but selecting 'Sweden' now retains the setting next time I enter the SMS app.  Is that what you wanted me to check?

[2015-02-16 14:02] jas4711 commented on #50
Also, this seems to fix the mixed-conversation issue -- however changing between language is really slow (does it reparse all sms'es?) so I never had the patience to wait before, and there were no visual cues indicating it was working.

[2015-02-16 14:04] nerzhul commented on #39
you are right. I found where the issue can happen.
It's in SmsObserver.onChange, we check the last message for all mailboxes when the connectivity changed. And then if the mailbox is other than the required mailboxes, it worked. I need to fix the issue now, and i publish a patch on Google Play Store soon.

[2015-02-16 14:09] nerzhul commented on #50
i only fix the language option loading. Changing the langage is instant, but we don't reload contact list at this time, maybe it will be an improvement. I think you reload the page to see the changes, no ?

[2015-02-16 14:13] jas4711 commented on #50
Yes you are right -- change only happens on reload.  So, as far as I can tell, with this fix, and after chosing the correct country, things work.  Isn't there an algorithm that works even without supplying country-information?  That seems a bit fragile.  Maybe I have local phone numbers in multiple country prefixes -- see no reason why that couldn't work too.

Thanks for working on the app!  It is

[2015-02-16 14:14] #39 closed

[2015-02-16 14:15] nerzhul commented on #50
in fact we couldn't have a better way to dedup contacts. The app needs to know in which country you are to fix the dedup contacts between local numbers and intl numbers. I think adding a popup if the country is not set could help.
Also, i will look at contact list reload when you change the country

[2015-02-16 14:23] nerzhul commented on #50
I close the issue, then

[2015-02-16 14:23] #50 closed

[2015-02-16 14:26] martin-rueegg commented on #39
i'll try to propose the merge of the functions as discussed previously. so we will only have one main function to maintain. i'll do it today. could you wait with sending the patch to google play store?
btw: i think we should do a check still on the server side as well, as we should never trust the data coming from the internet. someone might build a compatibe client and use the server-api.

[2015-02-16 14:27] nerzhul commented on #39
No release for google play store at this time. Server must be tagged before client, to support the new bugfixes/features.

[2015-02-16 20:09] jas4711 commented on #50
Couldn't you strip all known +xxx international prefixes, and leading zeros, and then match on the remaining phone number?  Then there is no need to specify the particular +46 etc.

[2015-02-17 07:54] nerzhul commented on #50
No because some countries doesn't work like many european countries

[2015-02-17 08:12] jas4711 commented on #50
Okay.  Anyway, it now works for me!

[2015-02-18 00:33] enoch85 opened #54 "Update ownCloud SMS with ownCloud Server updates"
Today, you have to update ownCloud SMS manually.

It would be much better to get automatic updates, and update when ownCloud comes out with a new release.

FYI It's possible through `ocsid`

[2015-02-18 07:52] nerzhul commented on #54
Hi, it's already fixed in master bug not available yet:

https://github.com/nerzhul/ocsms/blob/master/appinfo/info.xml#L11

@martin-rueegg fixed it.

Thanks :)

[2015-02-18 07:52] #54 closed

[2015-02-18 11:20] enoch85 commented on #54
What would we do without Martin? :)

Med vänlig hälsning
Daniel Hansson

www.en0ch.se

Skickat från Google Nexus 5
Den 18 feb 2015 08:52 skrev "nerzhul" <notifications@github.com>:

[2015-02-18 14:50] eyesoftsys opened #55 "An exception occurred while executing INSERT INTO oc_ocsms_smsdatas"
solved in file apps/ocsms/db/smsmapper.php by adding :
on line +262 $today = date("Y-m-d H:i:s");
and change on line +264 "NOW()","NOW()" with $today, $today

Server

ownCloud version: 7.0.4 (stable)
PHP version: PHP 5.6.5
HTTPd server: Apache/2.4.10
HTTPS: Apache/2.4.10
mysqld : 5.6.17

Client

Android version: 4.2.2
Phone: -
ownCloud SMS app version: 0.17.0

Content of /owncloud/data/owncloud.lo

[2015-02-18 23:50] enoch85 opened #56 "No time stamps are added in MySQL"
I just noticed that there is no time stamps in MySQL. This will lead to that the SMSes are not in order.

![image](https://cloud.githubusercontent.com/assets/4511254/6259279/3d5f8136-b7d1-11e4-9f32-2e6b27caa92a.png)

Using master-build, and latest Android App.

[2015-02-18 23:55] enoch85 opened #57 "Error PHP Undefined offset: 0 at /var/www/owncloud/apps/contacts/lib/backend/shared.php#90"
This error shows up in log when getting information about the contacts in ownCloud. Related to ownCloud SMS. I think it could be the photos that trigger this. It spams my log so hard that the server almost stops, and my server is quite powerful. When I deactivate ownCloud SMS the error stops.

[code]

@martin-rueegg Wanna hunt bugs? ;)

[2015-02-18 23:56] enoch85 commented on #57
Using the latest master btw.

[2015-02-19 06:20] nerzhul commented on #56
The SMS order doesn't use added/lastmodified fields but i'll look at this, another user report this issue.

[2015-02-19 06:21] nerzhul commented on #57
Hmmmm difficult to know where does it comes from, because it's contact app bug, now ocsms. Have you got the same problem using chat app ?

[2015-02-19 13:16] enoch85 commented on #57
Nope, get the problem when I use the oCsms app.

[2015-02-19 13:18] nerzhul commented on #57
which is your owncloud version and contact app version ?

[2015-02-19 13:25] enoch85 commented on #57
Latest. I run oC 8.

[2015-02-19 13:47] enoch85 commented on #57
Maybe @tanghus can answer this?

[2015-02-19 14:06] tanghus commented on #57
No idea. Haven't worked on ownCloud since May last year.

[2015-02-19 14:24] enoch85 commented on #57
Ok. Maybe @jbtbnl have an answer?

[2015-03-02 12:38] martin-rueegg commented on #54
tnx, @enoch85 :smile:

[2015-03-02 12:55] jreybert opened #60 "Friendlier error message when ocsms app is not installed on server"
Hi,

it may seems dumb, but I stucked because of the error:
Error #15: Unable to parse server response

As I downloaded and installed from f-droid, I missed the server part. If it is possible, an error message precising that the server app part is missing may save some time.

[2015-03-02 12:57] nerzhul commented on #60
Please use google play store and not F-Droid. F-Droid build doesn't support HTTPS self signed certficates.

[2015-03-02 12:59] #55 closed

[2015-03-02 12:59] nerzhul commented on #56
Fixed with 98933860e8916443852a5740e790fc28a95e084d

[2015-03-02 12:59] #56 closed

[2015-03-03 23:20] bxabi opened #61 "phone numbers are not matched with contacts if formatted differently"
The contact is matched only if the phone number is formatted exactly as in the sender of the sms. Otherwise the phone number is displayed as sender/receiver, not the contact name.

The sms phone number and the contact phone number should be converted to the same format (no spaces) and then compared to match the Contact.

[2015-03-03 23:24] bxabi commented on #61
As I see I also have numbers containing "-" caracters, this should be filtered out too.
Also some numbers have country codes, some not.
I can write a formatter function if you want.

[2015-03-04 01:24] mikel392 opened #62 "Feature-request: backing up sms from messagins apps other than the default"
i do not use the default messaging app. an option to change the source [app] to back up would be nice

[2015-03-04 08:07] nerzhul commented on #61
Hello @bxabi could you give me a proper example, a screen shot.
Don't forget to set your country in the application to dedup contacts

[2015-03-04 08:08] nerzhul commented on #62
We are using the content://sms backend which is the android backend to receive SMS. Then you can use any app, we don't interact with it.

[2015-03-04 08:08] #62 closed

[2015-03-04 11:36] bxabi commented on #61
Hi, that's how it looks. I scrambled the numbers a bit :)

![ocsms](https://cloud.githubusercontent.com/assets/11303766/6482843/c8cb2dd0-c26a-11e4-9ede-d797fee0be9c.png)

Most of those numbers are in my contacts just written in forms as +49 123 456789, or +49-123-456789, and they are not matching. I did set the country, but did not help.

[2015-03-04 11:39] nerzhul commented on #61
Spaces issues and dashes issues mustn't exist ... we need to review why.
Have you got PHP errors?

[2015-03-04 11:41] bxabi commented on #61
![ocsms1](https://cloud.githubusercontent.com/assets/11303766/6482918/aac1cf82-c26b-11e4-8a79-9671abb51502.png)

Actually as you see for this number, the contact is shown above the messages, correctly, but not in the sidebar.

no php errors (where I see them?).

[2015-03-04 13:48] nerzhul commented on #61
it seems the international number doesn't match the contact number when generating the contact list.

[2015-03-05 15:16] flyinva commented on #38
Sorry for the delay. It sesms OK since upgrade to OC 8.0 and ocsms 0.17.0

[2015-03-05 15:30] nerzhul commented on #38
Ok, thanks, i close it

[2015-03-05 15:30] #38 closed

[2015-03-07 14:02] Raydiation opened #63 "Controller push method not CSRF protected"
https://github.com/nerzhul/ocsms/blob/master/controller/smscontroller.php#L233

You should in general only use @NoCSRFRequired for the index method.

[2015-03-07 14:04] Raydiation commented on #63
Unless its an API method. You should however outsource api methods to a different controller and enable CORS (check the dev docs ;))

[2015-03-07 17:49] Raydiation opened #64 "Clean up bad practices in code"
Some things while reading through the code:
* https://github.com/nerzhul/ocsms/blob/master/appinfo/ocsmsapp.php#L82 : This is called a service locator pattern, do not use it, its an anti pattern. Instead just pass in an object that gets the stuff done for you, e.g. create a ContactService which has this method on it https://github.com/nerzhul/ocsms/blob/master/appinfo/ocsmsapp.php#L94 and pass it

[2015-03-07 18:22] nerzhul commented on #63
Don't hesitate to create a PR to improve things :)

[2015-03-17 23:55] enoch85 opened #65 "How do I translate?"
Is this project on Transifex?

@nerzhul

[2015-03-18 01:00] enoch85 commented on #65
Solved it.
https://github.com/nerzhul/ownCloud-SMS-App/pull/42
https://github.com/nerzhul/ownCloud-SMS-App/pull/41

[2015-03-18 09:28] #65 closed

[2015-03-18 09:28] nerzhul commented on #65
Thanks, read nerzhul/ownCloud-SMS-App#42 for a translation example (or look at the previous serbian PR)

[2015-03-18 09:59] nerzhul commented on #64
For the second issue it's now fixed. Thanks.

For the first suggestion have you got an example ?
For the codes, i will change that in protocol version 2, but i need to modify android client and do a compatibility layer.

[2015-03-18 11:07] Raydiation commented on #64
Yes, you've put logic onto the container/app itself and in your controller you access two methods from it. Put those two methods into a separate class and pass that one into the constructor.

[2015-03-18 11:08] Raydiation commented on #64
getContacts and getContactPhotos seem to be the only methods. Put them into a class

[2015-03-19 15:09] mokkin commented on #57
I don't have installed ownCloud SMS and I have the same error, actually on oC 8.0.2.

**php -v && apache2 -v && mysql --version && lsb_release -a
PHP 5.5.9-1ubuntu4.7 (cli) (built: Mar 16 2015 20:47:39)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2014 Zend Technologies
    with Zend OPcache v7.0.3, Copyright (c) 1999-2014, by Zend Technologies
Server version: Apach

[2015-03-19 16:07] jreybert commented on #60
Hm, ok, I may use google play instead of f-droid.

Anyway, I don't get why you closed the issue?

[2015-03-19 16:09] nerzhul commented on #60
Hmmm strange right, i re-open it

[2015-03-24 16:41] bxabi commented on #61
I updated the owncloud from 8.0.0 to 8.0.2, and made a "git pull" on ocsms, and now the contact names work great, so this looks fixed. Thanks

[2015-03-24 16:51] nerzhul commented on #61
Thanks

[2015-03-24 16:51] #61 closed

[2015-04-03 08:18] cptMikky opened #66 "contact lookup and message grouping should ignore extra symbols (such as spaces) in phone no."
Hi,

the web app treats +111 222 333 444 and +111222333444 as two different numbers/contacts resulting in two separate conversations. One of these formats usually coincides with an existing entry in contact book while the other one remains unresolved. That leads to situations where I have two separate conversations with one contact, one grouped under looked-up contact (i.e. showing the name) and a

[2015-04-03 09:30] nerzhul commented on #66
This is already the case, but sometimes the parser doesn't resolve it properly. I need to do more investigation to find where is the problem.

[2015-04-03 09:30] nerzhul commented on #64
@Raydiation will work on it soon :)

[2015-04-03 10:52] cptMikky commented on #66
can I help anyhow?

[2015-04-08 13:39] nerzhul commented on #64
All is done.
Functions moved to ContactCache in lib/.
URLGenerator changed

For the return codes, not for not, later, yes with protocol v2

[2015-04-08 13:39] #64 closed

[2015-04-08 13:42] nerzhul commented on #60
Now i see, it was closed because the error is due to owncloud library which is included in owncloud SMS APP and modified for Google Play Store to accept self signed certificates. Later, i will remove this lib and use an embedded lib to interact with ownCloud, but not yet.

I reclose this issue which is due to F-Droid, we doesn't support it.

[2015-04-08 13:42] #60 closed

[2015-04-08 13:43] nerzhul commented on #66
Question: do you set a country in the application options ?

[2015-04-08 15:05] cptMikky commented on #66
No, my country is not in the list - Czech Repulic. What's the purpose of this settings?

[2015-04-08 15:07] nerzhul commented on #66
look at lib/countrycode and help us to add the country code :)

[2015-04-08 15:54] cptMikky commented on #66
Someone was faster :)

It's better just a bit in v1.4.4 - the conversation is properly grouped now but it still shows two separate entries in the left panel.

Also, although I do have my country code set properly now, I still get a few messages from different countries. Is this handled somehow? From debugging point of view...

[2015-04-08 21:25] AW-UC opened #67 "Add button to mark all messages read"
I just synced my messages via latest https://github.com/nerzhul/ownCloud-SMS-App with latest OC and OCSMS. All my messages are marked unread on the server (hundreds!). Would be nice to have a button, to mark all messages read. Then I don't need to go through the database.

[2015-04-09 07:35] nerzhul commented on #66
Have you refreshed the app panel ?

What do you want to know exactly ? The local code is translated to international code and spaces are removed.

[2015-04-09 07:42] nerzhul commented on #67
Good idea :)

[2015-04-09 07:55] cptMikky commented on #66
In fact I did a complete fresh installation just to see if there is a difference. What I'm describing is a fresh-start situation.

As for the intl. codes, I was referring to how the country settings affects the app's behaviour. I was reading through phonenumberformatter.php but I'm still not sure I understand what exactly it does. Although reading it again with fresh eyes in the morning I guess I'

[2015-04-27 07:04] martin-rueegg commented on #57
this error should be related to https://github.com/owncloud/contacts/pull/824 which in turn has been fixed and merged. i currently run oC 8.0.2 with Contacts 0.3.0.18 and the patch is applied there. i don't get any errors.
@mokkin could you please verify the Contacts app version (either in index.php/settings/apps or /var/www/owncloud/apps(2)/contacts/appinfo/version) or check if you have the [patc

[2015-04-28 07:44] nerzhul commented on #57
thanks for the information @martin-rueegg

[2015-04-28 08:17] mokkin commented on #57
@martin-rueegg
Unfortunately I cannot help anymore, because I migrated the sever recently to Debian which has also other versions of PHP and Apache.

[2015-05-05 10:30] delumerlino opened #69 "Disapperared?"
Hi,
I have upgraded OC to 8.0.3.
Now Owncloud-sms is disappeared, both from enabled and disabled applications.
It is present under the file system.
I have no strange logs under OC...

[2015-05-06 06:28] #69 closed

[2015-05-07 15:48] nerzhul commented on #69
@delumerlino reappeared ? :)

[2015-05-07 17:50] delumerlino commented on #69
Yes, but I have always error 9 on Android, no other on the server. Messages
are anyway synced...
Thank you
Il 07/Mag/2015 17:48 "nerzhul" <notifications@github.com> ha scritto:

[2015-05-09 00:12] mikel392 opened #70 "error while enabling ocms"
An exception occurred while executing 'CREATE TABLE `oc_ocsms_config` (`user` VARCHAR(255) NOT NULL, `key` VARCHAR(25555) NOT NULL, `value` VARCHAR(25555) DEFAULT NULL) DEFAULT CHARACTER SET utf8 COLLATE utf8_bin ENGINE = InnoDB': SQLSTATE[42000]: Syntax error or access violation: 1074 Column length too big for column 'key' (max = 21845); use BLOB or TEXT instead

i'm using mariadb, maybe that's t

[2015-05-09 23:09] ctgcwiqc opened #71 "Fatal error ! Error #9: Server set unhandled HTTP return code"
Just installed the android app through F-droid.  Sync appears to be successful however this error is appearing in a notification on my phone.

[2015-05-11 07:59] delumerlino commented on #71
Have the same problem. Here is log from server:
Exception: {"Message":"An exception occurred while executing 'DELETE FROM oc_ocsms_smsdatas WHERE user_id = ? AND sms_id = ?' with params [\"Andrea\", 9846]:\n\nSQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction","Code":0,"Trace":"#0 \/var\/www\/owncloud\/3rdparty\/doctrine\/dbal\/lib\/Doctrine\/DBAL\/DBALExce

[2015-05-12 02:31] ctgcwiqc commented on #71
Exception: {"Message":"An exception occurred while executing 'DELETE FROM oc_ocsms_smsdatas WHERE user_id = ? AND sms_id = ?' with params [\"clint\", 12185]:\n\nSQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction","Code":0,"Trace":"#0 \/var\/www\/owncloud\/3rdparty\/doctrine\/dbal\/lib\/Doctrine\/DBAL\/DBALException.php(116): Doctrine\\DBAL\\Driver\\Abstract

[2015-05-12 02:31] ctgcwiqc commented on #71
Thats from my OC log

[2015-05-12 20:27] enoch85 commented on #71
@nerzhul have giving up on this app.

[2015-05-13 01:25] ctgcwiqc commented on #71
Are you serious or joking?

[2015-05-13 01:36] enoch85 commented on #71
@ctgcwiqc Sorry, a bit sarcastic. Me and @nerzhul had this discussion before. Just feels like he abandoned this project in favor for the other stuff he does in other projects. I just think it's kind of bad that I as a user have to pay for something that isn't updated.

[2015-05-13 01:58] ctgcwiqc commented on #71
I have been trying to find useful things to pair with my OC server from the apps page, but I am unable to find compatible (updated) apps regularly.  I'm starting to second guess my decision to drop Google Drive in favor of OC.  I have calendars, contacts, files, everything on OC.  I understand your frustration.  When you say you pay for something, do you mean the android app?

[2015-05-13 06:16] delumerlino commented on #71
Hope you are joking.
We have paid for android app, so before leaving the project I hope he fixes our problems!

[2015-05-13 06:27] nerzhul commented on #71
I'm there guys, just a little bit busy IRL because i changed my work. Will work on it next days. I'm preparing the v2 to add msg restauration. For your unhandled HTTP return code, have y ou re-enable thé app ?

delumerlino <notifications@github.com> a écrit :

[2015-05-13 06:36] delumerlino commented on #71
Oh thank you. App re-enabled both from OC and Android.
On Android cleaned (deleted user data) and reconfigured but nothing changed.
I have the error above, but sms are correctly saved on OC.

[2015-05-13 06:39] nerzhul commented on #71
Can you give me your httpd logs ?

[2015-05-13 06:56] delumerlino commented on #71
NP, here I am. Thank you

2015-05-13 8:39 GMT+02:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-05-13 06:56] delumerlino commented on #71
Sent by mail. TY

[2015-05-13 09:16] enoch85 commented on #71
@ctgcwiqc First of all. There is nothing wrong with ownCloud. Much better than Google Drive, Dropbox, OneDrive etc. if you ask me. I've been using it since early 2013, and right now we are at a stage where everything is just working so good! With the coming update if 8.1, there will be even more improvements.

I agree that there are many un-serious app developers that´s in for the "easy money" - m

[2015-05-15 06:58] nerzhul commented on #70
Fixed: https://github.com/nerzhul/ocsms/commit/47a6a86a9509de7bcda6d736b9c6b8160b76cba8

[2015-05-15 06:58] #70 closed

[2015-05-15 06:58] nerzhul commented on #71
@delumerlino i don't receive anything by mail :(

[2015-05-15 07:01] nerzhul commented on #71
The lock wait timeout is very strange, what database backend are you using ?

The Error#9 is a unhandled return code, i think it's a error 500 from your server. I will handle it to tell users to look at their server, at first. The error mentionned is clearly a timeout on the request into your database. What is your backend and how many sms have you got in your database?

[2015-05-15 07:11] #63 closed

[2015-05-18 06:20] delumerlino commented on #71
@nerzhul sorry, here it is:
https://camelot.dtdns.net:16177/owncloud/index.php/s/F1WPZn4TgBXGRoR
TY

[2015-05-18 09:30] nerzhul commented on #71
I cannot look at it at work, will look at it tommorow, thanks

[2015-05-18 12:27] delumerlino commented on #71
NP, thank you m8

2015-05-18 11:30 GMT+02:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-05-24 14:52] animalillo opened #72 "Not working"
The app syncs the messages with the server, they are displayed in the database, but the user interface is empty.

Also, the dates for added and last modified are "0000-00-00 00:00:00".

Using oc 7.0.4 stable, and looking forward to have time to upgrade to oc 8

[2015-05-24 17:35] nerzhul commented on #72
last modified field is unused at this moment.
Can you look at your PHP logs to see if something is wrong please ?

[2015-05-24 19:10] cengbrecht opened #73 "Working Great - Small request - Parse information again to clean up?"
Hey Nerzhul!

So I have been using it and it works great, syncs, and keeps me safe, but I have noticed that it still has issues trying to group phone numbers together with or without + and - or other symbols like ( ) .

I would like to know if on an update of it, we could force it to run with a cron job, to clean up the database entries so that their numbers are fixed.

Thanks for your work! You'r

[2015-05-24 19:12] cengbrecht commented on #73
Duplicate sorry.

[2015-05-24 19:12] #73 closed

[2015-05-24 19:12] cengbrecht commented on #66
Hey Nerzhul!

So I have been using it and it works great, syncs, and keeps me safe, but I have noticed that it still has issues trying to group phone numbers together with or without + and - or other symbols like ( ) .

I would like to know if on an update of it, we could force it to run with a cron job, to clean up the database entries so that their numbers are fixed.

Thanks for your work! You'r

[2015-05-24 21:54] animalillo commented on #72
in owncloud logs

[2015-05-26 07:39] nerzhul commented on #72
@animalillo this bug is a bug in contact app. Update to owncloud contact app 8.0.3 will solve this

[2015-05-26 07:39] #72 closed

[2015-05-26 07:40] nerzhul commented on #66
I don't know why this isn't working. The phonenumber cleaner is not very very powerful for everybody as it seems :(. Need to rewrite it, maybe

[2015-05-26 10:33] delumerlino commented on #71
Thanks for your update....but I have the same problem with server app 1.4.5 :(

[2015-05-27 09:33] nerzhul commented on #71
The recent update doesn't fix this problem at this moment, sorry.

[2015-05-27 09:35] nerzhul commented on #57
After a review this is definitively a oc contact app bug.

[2015-05-27 09:35] #57 closed

[2015-05-27 16:22] animalillo commented on #72
Great, thank you, i've upgraded owncloud and all its apps now to oc8 and it works perfectly

[2015-05-28 06:36] nerzhul commented on #72
Thanks for the report

[2015-06-04 08:08] viki53 commented on #16
Sorting in general would be nice: current listing doesn't match my phone's date sorting.

Any idea where to look if I try to implement this?

[2015-06-07 17:56] nerzhul commented on #16
The list is generated by an AJAX call. Look at the JS source. Also add a new option to store storing (in same area than language option) and load it before loading the contacts, and then do what you want with the list :)

[2015-06-08 06:25] delumerlino opened #75 "Contacts not showed"
Hi, I am using ocsms for my sms.
My phone contacts are synced with native oc_contacts.
I am not able to see my contacts in conversations list, but only their numbers.
TY

[2015-06-08 13:34] animalillo opened #76 "Phone and message count oddities"
From the same contact i get the phone repeated 4 times, which (i guess is that) makes the message count be repeated many times, so I get 7 messages * 4 exact same phone numbers = 28 messages from the same exact same contact

![Example](http://i.imgur.com/v2i0myG.png)

[2015-06-08 14:14] nerzhul commented on #75
Hi,
have you selected a country in your ocsms settings ?

[2015-06-08 14:15] nerzhul commented on #76
Hi,
Thanks for your report, i look at this

[2015-06-08 14:23] delumerlino commented on #75
Yes, I have.
The problem is not related to all contacts, but only for some of them..
Il 08/Giu/2015 16:14, "nerzhul" <notifications@github.com> ha scritto:

[2015-06-08 14:24] nerzhul commented on #76
For the duplicated phone numbers can you use this commits and tell me if that fix the first problem please ?

https://github.com/nerzhul/ocsms/commit/a620277d867f14652dc21f3d1e0454a8a7522f66

[2015-06-08 14:25] nerzhul commented on #75
Can you check your PHP logs please ? Maybe there is a PHP error somewhere. Please also look at your owncloud logs

[2015-06-08 15:13] animalillo commented on #76
that commic completely breaks ocsms for me.

[2015-06-08 15:34] nerzhul commented on #76
Erf, i do the commit from my phone. I look at this problem on a better server now

[2015-06-08 15:57] nerzhul commented on #76
Ok i see it's an issue with the jquery foreach loop

[2015-06-08 19:12] nerzhul commented on #76
Okay, look at this commit: 8680ce6d38a280c5207e0a6f7aaefab111d445cd

[2015-06-08 19:41] nerzhul commented on #76
Use this instead, sorry :)
https://github.com/nerzhul/ocsms/commit/357e17dfbce5e6807e6f7341cbe3cd731a984762

[2015-06-09 06:58] delumerlino commented on #75
I have no errors in php / apache2.
OC has the transaction error:

Exception: {"Message":"An exception occurred while executing 'DELETE FROM
oc_ocsms_smsdatas WHERE user_id = ? AND sms_id = ?' with params
[\"Andrea\", 10347]:\n\nSQLSTATE[HY000]: General error: 1205 Lock wait
timeout exceeded; try restarting transaction","Code":0,"Trace":"#0
\/var\/www\/owncloud\/3rdparty\/doctrine\/dbal\/lib\/Doctr

[2015-06-09 10:05] animalillo commented on #76
it works for duplicated phones, now I just get the phone displayed once, but I still have 28 messages as the total count.
(tried latest master and your specified commit)

[2015-06-09 10:14] animalillo opened #77 "Scroll issue"
When little messages (it's more annoying when there is just one) in a conversation, the first messages gets out of the screen. It's nice in a long conversation that you scroll down to the latest message, but in a short conversation that fits inside the screen, it should be displayed that way, in my opinion.

The problem seems to be that the div containing the comments (app-content-wrapper) it's ov

[2015-06-09 11:18] nerzhul commented on #76
@animalillo yes, i didn't fix the message count number. I looked at the code yesterday and i don't see an error in message count. Can you look at your database and see if there are duplicate messages ?

[2015-06-09 11:23] #77 closed

[2015-06-09 11:30] nerzhul commented on #77
Thanks !

[2015-06-09 11:35] nerzhul commented on #75
Are you using sqlite ?

[2015-06-09 11:37] delumerlino commented on #75
Nope, mysql.

2015-06-09 13:35 GMT+02:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-06-09 11:43] nerzhul commented on #75
@delumerlino i see it after in the stack trace, i edited my previous comment on github.

[2015-06-09 12:00] delumerlino commented on #75
So what do you suggest? I didn't change anything on mySQL configuration...

[2015-06-09 12:00] animalillo commented on #76
Not any duplicates in my database

[2015-06-09 12:07] nerzhul commented on #75
atm i have no idea i'm at work. How many messages do you have in your database ?

[2015-06-09 12:07] nerzhul commented on #76
Thanks, i will look at the controller call asap

[2015-06-09 12:08] animalillo opened #79 "Country list not working on firerfox nightly"
When you select the country list in config, on Firefox (41.0a1) nightly on linux it's transparent and disappears after a few seconds, selecting USA, so it becomes unusable.

Probably nothing to do with your app, but guessed you would like to know.
It works correctly on Firefox (38.0) stable linux version.

[2015-06-09 12:09] animalillo commented on #76
It's not a big issue, i wouldn't have noticed if the conversation was long xD

[2015-06-09 12:10] delumerlino commented on #75
They are about 7k

2015-06-09 14:07 GMT+02:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-06-09 12:11] nerzhul commented on #76
Yes but it's an issue which needs to be fixed, and a reason to have a new release published :)

[2015-06-10 12:06] animalillo commented on #76
Ok, I'll be here to test it then :)

[2015-06-12 15:03] nerzhul commented on #75
No many... Then i don't know at this moment, but it seems your PHP instance lost connection to your MySQL instance

[2015-06-12 15:04] nerzhul commented on #79
@animalillo i think this is a problem with firefox nightly, no problem on many browsers

[2015-06-14 10:05] delumerlino commented on #75
Anyway, oc_sms is the only owncloud app that won't work.
prior to this, I still have Error #9: Server set unhandled HTTP return code.
No way to fix them both??

2015-06-12 17:03 GMT+02:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-06-15 11:05] animalillo commented on #79
Yeah, I know, but it was just for you to know

[2015-06-16 11:03] nerzhul commented on #79
No problem. I'm using native selects, then the problem is in FF Nightly build. I close the report, thanks to inform me :)

[2015-06-16 11:03] #79 closed

[2015-06-16 11:06] nerzhul commented on #75
The Error #9 generally appears when your server return a 503, or when it wants to upgrade. It's not very easy to interact and the requests on database are very very simple. The main problem is to reproduce your problem. I will study some improvement for protocol handling on Android but it's not very easy to improve and keep the compat. But you have reason, i need to improve the Error #9 to be more

[2015-06-16 11:12] delumerlino commented on #75
What if I delete the tables from mysql and clean the installation? Is there
a way to start from scratch (without reinstalling oc)?
Il 16/Giu/2015 13:06, "nerzhul" <notifications@github.com> ha scritto:

[2015-06-16 11:15] nerzhul commented on #75
I don't think this will fix the problem but you can try.

You should do this:
- disable ocsms app
- drop tables with *_ocsms_* name
- enable app

[2015-06-16 13:30] DJaeger commented on #75
You should also remove all entries of ocsms from oc_appconfig

[2015-06-16 13:33] delumerlino commented on #75
Done, but still have the errors...
Il 16/Giu/2015 15:30, "Daniel Jäger" <notifications@github.com> ha scritto:

[2015-06-17 08:21] nerzhul commented on #75
It was what i think, but thanks for the test.
@DJaeger was right, but i don't use oc_appconfig for ocsms, only the installation options are into

[2015-06-17 08:44] delumerlino commented on #75
Sincerely, I had this error after upgrading php to 5.4....

2015-06-17 10:21 GMT+02:00 nerzhul <notifications@github.com>:

--
--------------------------------------------------------------------------
*P *Prima di stampare, pensa all'ambiente ** Think about the environment

[2015-06-17 08:45] DJaeger commented on #75
That is what I mean.
I had multiple issues on reinstalling or updating apps that were mostly solved by removing the entries from oc_appconfig

[2015-06-24 06:49] nerzhul commented on #33
Old issue.

[2015-06-24 06:49] #33 closed

[2015-06-24 06:49] nerzhul commented on #21
@enoch85 first step done :)

[2015-06-24 09:11] enoch85 commented on #21
@nerzhul Nice! When this is done I will start using the app again. :)

[2015-06-24 17:15] nawrasg opened #80 "OwnCloud App Activation Problem"
Hi,

First of all, many thanks to this app :)
When I tried to activate it, owncloud showed the following error `no app name specified`!
When I modified the folder name from <b>ocsms-v1.4.5</b> to <b>ocsms</b>, it worked fine.

I hope you update this bug on the owncloud app store.

Regards,

[2015-06-24 18:00] nerzhul commented on #80
this bug is not due to ocsms, it's written in the documentation, also in apps.owncloud.com :) I use github tags to generate archive then i cannot change this

[2015-06-24 18:00] #80 closed

[2015-06-25 22:02] nerzhul commented on #21
https://github.com/nerzhul/ocsms/commit/13d5e9ff268c2fb4aee04cc1a382ec26152500ae

It's finished. I rewrite/move 80% of all app JS to use Angular properly, this permit to do great things like delete messages atomicly and do a proper backend action . It's now solved

[2015-06-25 22:02] #21 closed

[2015-06-25 22:02] #47 closed

[2015-06-25 22:05] nerzhul commented on #76
I will work on it before 1.5 release. I need to improve the count interaction with interface since i switch many code to angularJS

[2015-06-25 22:16] enoch85 commented on #21
Thanks!

[2015-07-03 00:20] animalillo commented on #76
:thumbsup:

[2015-07-04 08:01] Percherie opened #81 "No app name specified"
Hi,

I make fresh install of ocsms and when i activate application, i have this error msg : No app name specified

Why ?

[2015-07-04 08:50] Percherie commented on #81
Hi,

I found, the directory name after unzip is different of your id applics (ocsms). After rename for ocsms it's work

[2015-07-04 09:16] #81 closed

[2015-07-13 18:09] enoch85 commented on #24
Any update here @nerzhul ? :)

[2015-07-14 06:24] nerzhul commented on #24
@enoch85 not at this moment, sorry, i was designing and thinking about restoring messages. I don't have thought about a method to check if messages are read or not. Maybe in the global sync check the unread messages on server and compare with client :)

[2015-07-24 19:32] mulles opened #82 "Fatal: No SMS shown in Owncloud app"
Hi,

First time that I submit an issue. Did my best too gather all information. Besides I don't get it working it's an pleasure that this kind of features  existed thanks too you on owncloud :)

**** The Problem:  ****
**************************

When I navigate to SMS App on owncloud I don't see the uploaded sms messages, but:

{{ contact.label }}{{ contact.unread > 0 ? ' (' + contact.unread + ')

[2015-07-25 10:53] nerzhul commented on #82
you have a browser issue because angularJS doesn't work. What is your browser ? Can look at JS console ?

[2015-07-25 20:09] mulles commented on #82
Thanks, problem solved.

Solutions for others:

The rights for the owncloud folder "ocsms" were wrong. I changed them with the command:
 "chmod 755 ocsms"
 to the same rights the other owncloud apps do have.

Incredible support ;) and amazing app, pleased that I can use it now :) Is it possible to resync messages back to the phone (after factory reset)/new phone? Shall/can I open a feature request

[2015-07-26 07:06] nerzhul commented on #82
oh it's a right problem, i see :)
For the message restoration it's a feature in progress but i need some time to do it properly. I have started to talk with ocsms server, now i need to add conversation support client side to check messages to restore.
Thanks for the report

[2015-07-26 07:06] #82 closed

[2015-08-06 19:49] quizilkend opened #83 "Alternative install method"
Hey!

I'd really like to try your work, as it sounds very promising.
Unfortunately I have no GApps at all on my Android mobile phone and the version on FDroid isn't working properly (account creation fails).
I am totally willingly to pay or donate, but don't have the ability to purchase the app via PlayStore.

Is there maybe a solution?
Best wishes,
Sammy

[2015-08-07 09:27] mulles commented on #83
you can download the app via the f droid website:

https://f-droid.org/repo/fr.unix_experience.owncloud_sms_27.apk

But as you may know you need to enable "install unknown sources".

For other versions go to https://f-droid.org/repository/browse/?fdfilter=ocsms&fdid=fr.unix_experience.owncloud_sms

[2015-08-07 09:59] quizilkend commented on #83
Thanks for your advice, but the F-Droid version isn't working for me. I think, because I use a self-signed certificate.

[2015-08-07 10:29] DJaeger commented on #83
The behaviour of the app in GPlay and F-Droid is the same.
And in general they work like expected.
You shou create an issue in the correct repo (for the Android app) and supply some more infos like the error message and a logcat:
https://github.com/nerzhul/ownCloud-SMS-App/issues

[2015-08-07 10:36] DJaeger commented on #83
Before you create a new issue please try to add the certificate to your keychain.
For this you can use the following app:
CAdroid (Certificate importer) - https://f-droid.org/app/at.bitfire.cadroid

@nerzhul: There should be some more info in the app if certificate is not accepted, possibly with reference to the mentioned app.

[2015-08-07 10:40] nerzhul commented on #83
@DJaeger you talk about HTTPS in the app ?

[2015-08-07 11:43] animalillo commented on #83
Maybe add a checkbox to allow untrusted certificates?

[2015-08-07 11:54] nerzhul commented on #83
@animalillo in fact the problem atm is that the SSL check is performed by owncloud-client and i didn't see options to validate or not certificates, it's why the google play store app has a patched owncloud-client to disable this verification on self-signed.

[2015-08-07 13:04] DJaeger commented on #83
@nerzhul: yes.
Sorry I was not aware, that its another edition in GPlay.
Why not apply the same patch to the sources?

[2015-08-07 13:50] nerzhul commented on #83
@DJaeger because owncloud-client is a dependancy, not provided by me, but by owncloud itself and F-Droid use the real dep

[2015-08-08 13:52] DJaeger commented on #83
Where can your modified version of oc-lib can be found?
If you would supply it, the building of F-Droid could be changed to use it.

[2015-08-08 15:01] nerzhul commented on #83
it's only on my PC and not updated , need some modifications. Maybe in the future i will remove many parts of the lib to use only the essential connector

[2015-08-09 21:42] DJaeger commented on #83
Why not make a PR to the libs origin?

[2015-08-24 10:31] vbelloir opened #84 "Can't install the web app on my server"
Hi all,
Server
    ownCloud version: 8.1
    PHP version: 5.5.26
    HTTPd server: Server version: Apache/2.2.29
    HTTPS: yes, with certificate startssl

Client
    Android version: 4.2.2
    Phone: Wiko Cink Peax
    ownCloud SMS app version: 0.18.5 (F-droid)

Content of /owncloud/data/owncloud.log
At this step, I don't think the log is useful.
I downloaded the latest release from https://githu

[2015-08-24 18:02] vbelloir commented on #84
This is the first time I install an webapp from an archive.
I have just tried to install another one (this one : https://apps.owncloud.com/content/show.php/Storage+Charts+2?content=165528), and it works, I was able to activate it.

Maybe I am doing something wrong, but I don't know what.

[2015-08-24 18:04] vbelloir commented on #84
Arf, sorry, the issue is still open.

[2015-08-25 14:53] nerzhul commented on #84
Is the app directly on apps/ocsms, there is no new subdir ?

[2015-08-25 15:01] vbelloir commented on #84
Yes, directly in apps/owncloud

Le 25/08/2015 16:53, nerzhul a écrit :

[2015-08-27 06:57] nerzhul commented on #84
i see you are french, we can talk in french if you want.
You didn't see app with an admin capable to enable it ?

[2015-08-28 15:01] lakano opened #85 "Can't install on a fresh install of OC 8.1.1 (stable)"
Hello,

I'm trying to install your app (seems to be really useful, thanks for your time!)

But unfortunately, when I enable it in the Experimental applications store, it's only create an empty ocsms/ folder.

Then, if I'm trying to put your v1.5 version inside (and to set www-data rights), OC stop to works with a screen to request a migration need to be done to 8.1.1 (but it's already the current

[2015-08-28 16:46] nerzhul commented on #85
Hi, i'm running ocsms on a owncloud 8.1.1 with Apache 2.4 and PHP 5.6 on my server and it's running fine.
Can you look at owncloud.log + apache error logs ?

[2015-08-28 22:59] lakano commented on #85
Hello,

Just retried, there is no new lines in data/owncloud.log and nothing in my NginX error.log
( excepted new lines of owncloud about no update for other apps )

I precise I've set the loglevel to 0 ( = DEBUG ).

I'm under Ubuntu Server 14.04.1 / NginX 1.4.6 / OwnCloud 8.1.1 / OCSMS 1.5 / PHP 5.6.12

Once again, I have the blue screen (of the death ^^) of OwnCloud that ask me to upgrade to 8.1

[2015-08-29 06:11] nerzhul commented on #85
The upgrade screen should be done when you install owncloud SMS because database scheme must be upgraded

[2015-08-29 09:47] lakano commented on #85
Ok, I don't known the reason, but last time I've accepted this blue screen after activated OCSMS this have broken my OwnCloud...

Now it's works :)

[2015-08-29 09:47] #85 closed

[2015-08-29 10:00] lakano commented on #71
Hello guys,

I have exactly the same error.
May be it's because I have a large volume of SMS/MMS stored in my phone?
May be it's possible to limit only to a customized date to prevent this kind of problem ?

Regards,

[2015-08-29 10:02] lakano commented on #71
Just found this suspect lines in my NginX errors.logs :
[quote]
2015/08/29 11:49:39 [error] 2015#0: *3397 upstream timed out (110: Connection timed out) while reading response header from upstream, client: XXX.195.244.29, server: cloud.XXX.digital, request: "POST /index.php/apps/ocsms/push?format=json HTTP/1.1", upstream: "fastcgi://unix:/var/run/php5-fpm.sock", host: "cloud.XXX.digital"
2015/08/2

[2015-08-29 12:44] nerzhul commented on #71
@lakano okay, maybe it's due to a huge SMS amount. How many SMS do you have on your phone ?

[2015-08-29 17:54] vbelloir commented on #84
Yes, I'm french but we can continue in english, It can help more people.

No, I can't see the app in the web interface.
I tried to install another app (storage Chart 2), and it works :
![plop](https://cloud.githubusercontent.com/assets/13942805/9563550/ab61d0b0-4e87-11e5-81e4-4bbf8cf410c2.jpg)

But with ocsms, I can't find it, in none of the categories.

I tried with a standard user, and a admin u

[2015-08-30 07:39] nerzhul commented on #84
Ocsms is in experimental if i remember.
Also don't forget when you use the archive from github to rename folder from ocsms-<version> to ocsms, please read installation instructions :)

[2015-08-30 08:10] vbelloir commented on #84
Yes, I kow that ocsms is experimental. I'm not sure I will use it, but I wan to try this app if possible.

As you can see is the picture of message 5 days ago, the ocsms-xxx was rename in ocsms :
![2938c600-4b4b-11e5-80bf-e883c0e22903](https://cloud.githubusercontent.com/assets/13942805/9566273/4a1c4308-4eff-11e5-8964-b6dd3d440922.jpg)

Your help is appreciate, but I do read the installation instr

[2015-08-30 08:19] nerzhul commented on #84
no i don't said ocsms is experimental, but it's in the experimental new section of owncloud repo (8.1).
i don't understand why it's not showing up in your installation, how can this be possible to don't see the app if it's installed...

[2015-08-30 08:20] lakano commented on #71
I don't known the amount, but it's huge yes.
And in the OC side, I see some very old SMS imported, the most of them without name (surely old contacts when I sell/buy something on Internet for example)
There is some friends, but with conversation stopped since many years...

And the OC SMS app is really slow, it's not usable, slow as if the page loaded all SMS at the same time...

There is a soluti

[2015-08-30 08:22] nerzhul commented on #71
@lakano it seems that angular JS is pretty slow why thousands of SMS i will think about a partial loading of SMS using scrolling, i think it could be better

[2015-08-30 08:25] lakano commented on #71
Yep, you could use ngInfiniteScrolling on Angular, it's surely make it better for huge volume :)

[2015-08-30 08:45] nerzhul commented on #71
@lakano i will look at this later, thanks for the tip :)

[2015-08-30 09:36] vbelloir commented on #84
Ok,, as I found it in the Multimedia section in https://apps.owncloud.com/content/show.php/ownCloud+SMS?content=167289

I was expected to find it in the multimedia category in my owncloud web interface.

What should be the right permission of the ocsms files and folder?

[2015-08-30 10:02] nerzhul commented on #84
@vbelloir no problem.
App doesn't need httpd rights on folders. It's a pure SQL backend. You can set 644/755 on files/folder and give them to root:root / root:wheel

[2015-08-31 17:21] hardwarewizard commented on #71
I am getting this error a lot more after upgrading to v8.1.1
my OC server can be slow at times
I know I have a poor connection on my phone at times

the combination is causing a time out to occur any way to increase the time out when the phone has a slow connection?

[2015-08-31 18:56] nerzhul commented on #71
hmmm i should look at the lib timeout, but i don't think i can't tune it because i'm behing owncloudlib :s

[2015-09-01 20:33] lakano commented on #71
I suppose the best solution is to add an option to add an option to set a date limit of SMS/MMS to import.

[2015-09-01 23:35] animalillo commented on #71
Oh shit! Optionception!

XD jokes away, I think the best thing will be to send the messages in batches, that way you would be able to sync big ammounts of messages over unstable connections, because you can keep track where your sync was interrupted.

Also, set php timeout to infinite if it is safe, until you have a better solution, in the affected code.

[2015-09-02 06:19] nerzhul commented on #71
@lakano @animalillo there is many ways to do it, but i need to find the good way. Don't hesitate to provide a patch if you have skills to help the project.
Atm i'm working (slower) on SMS restauration, but this optimization is also needed and will be done after that.

[2015-09-02 07:26] lakano commented on #71
@animalillo All suggestions & critics are welcome if it's argued ;-)
About your proposition, I'm not sure it's a good idea, because if the user have a very huge collection, and need to launch it 42 times for the first import... I'm pretty sure he won't be so patient.

The option could be really easy to integrate, set by default on 10 years in back. Then the user could run without touching this opt

[2015-09-02 08:02] nerzhul commented on #71
@lakano the problem is that SMS is a database on a android phone and it could not be zipped by regular access. Also, we fetch only the right values and generate a JSON. A server with gzip enabled already permit client to do gzipped version of the JSON.
But maybe you are right, adding a manual import with a SMS limit (for example 100 per 100) could be good to sync messages manually first time

[2015-09-02 08:09] lakano commented on #71
@nerzhul Currently, on the import, you send all SMS one by one and ask to the server to save it on DB in the same time ?

Because, may be ( need to try ), if you only save all the SMS to a apps/ocsms/import/ folder, this could prevent timeout ?

Then, when we open OCSMS app, if files exists in the import/ folder, just import them one by one in background, so we can leave or go back later on OCSMS

[2015-09-02 08:14] nerzhul commented on #71
@lakano currently the sync process ask the server for present message, send the list to client, client read the whole local list and send the missing messages to server, in one message.
Server do a big transaction to commit messages to database in one pass. I think we should tell client to send messages with a bulk limit.

[2015-09-02 08:20] lakano commented on #71
@nerzhul Ok I see.

1) May be it's better to only keep the date of the last saved message.
Then you known to only copy messages after this date. It's prevent sending a whole list to client or to parse the whole local list on mobile app.

2) The bulk limit do another problem. For a huge collection, a user may be need to run it 42 times to complete.

3) I suppose if you don't make the DB operations

[2015-09-02 08:23] nerzhul commented on #71
@lakano it's already the case for point 1. But not first time because we don't know that information :)
For point 2, no, because the sync will be done 1 time but send bulk limited HTTP requests to bypass HTTP timeout problem
3. I don't think this is the better solution, because ocsms API is very linked with database

[2015-09-02 08:27] lakano commented on #71
Ok, I see, so if you make bulk limited in multiples HTTP requests this should solve the problem, good point !

[2015-09-02 11:13] zubrick opened #86 "Synchronization intervals and connections not respected"
I have set ocsms to synchronize only evey 24 hours and only on wifi, but it keeps synchronizing all the time even on mobile data.
I have 240MB of data transfer last month for only a dozen of sms...

Phone:
Sony Xperia Z3 compact. OS and app to last version

Server:
ownCloud SMS  1.4.5
ownCloud 8.1.1 (installed using apt)
Debian Wheezy

[2015-09-02 11:49] animalillo commented on #71
@lakano I didn't pretended to seem offensive, just found a bit funny the fact of the repeated option creation, that probably is a little slip while writing the text, and, additionally, propose an option in which backup of all sms will be performed, because this is a backup app, so that's the main point on it, backup all sms. And that is perfect for me. Even if sending sms from the app or some othe

[2015-09-02 11:51] nerzhul commented on #71
@animalillo no problem, i also have other open source project , this is why i can be slow there :)

[2015-09-02 13:00] wtayyeb opened #87 "How to export uploaded sms from ocsms?"
Hi,

I have to reset factory my phone and I was using ocsms! not I want them back to my phone. as I see ocsms not doing it.. so how can I export them from ocsms.owncloud?

[2015-09-03 08:17] nerzhul commented on #86
hi @zubrick is this synchronise or push on receive ?

[2015-09-03 08:18] nerzhul commented on #87
hi @wtayyeb the importation is in progress, look this is the last commit on this subject:

https://github.com/nerzhul/ownCloud-SMS-App/commit/1a6feec7eef52341189c53f22524c845e4912db9

It takes some times because i'm working on this to add some more informations.

[2015-09-06 11:55] enoch85 opened #88 "Any deadline for 2.0?"
Really looking forward to two-way-sync!

cc @nerzhul

[2015-09-07 06:45] nerzhul commented on #88
Hello, actually i don't have a date because i'm working slowly on the message restauration in the phone app. Next fixes will be performance & energy fix for some phones by optimizing some sync algorithms.
Maybe this could occur at the end of the year, but not sure

[2015-09-09 13:44] zubrick commented on #86
only synchronise over wifi is checked.
I didn't notice the push on receive option, it's what I need so I will try it, but it doesn't solve the issue

[2015-09-15 06:10] zubrick commented on #86
Ok, so, changing to push on receive didn't change the behavior, it still synchronizes all the time.
So now, I have only push on receive checked and frequency set to never.
I tried to remove the account and recreate it, but still the same.

[2015-09-15 13:25] nerzhul commented on #86
@zubrick thanks for the troubleshoot.

[2015-09-20 10:53] billybrowneyes commented on #71
FWIW similar error shows when there's an emoticon in one of the texts.  Pertinent portion from the OC log...

Exception: {"Exception":"Doctrine\\DBAL\\Exception\\DriverException","Message":"An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type) VALUES (?,?,?,?,?,?,?,?,?,?)' with pa

[2015-10-19 11:22] DJaeger commented on #84
@vbelloir: Is this solved?

[2015-10-19 11:34] vbelloir commented on #84
@DJaeger : yes, installing through git clone was OK for me.

[2015-10-19 11:39] DJaeger commented on #84
@vbelloir: Then please close this issue. Thanks.

[2015-10-19 11:41] #84 closed

[2015-10-26 09:00] delumerlino commented on #71
Owncloud 8.2, fresh install.
Android gets Error#9, here is OC log:

Exception: {"Exception":"Doctrine\\DBAL\\Exception\\DriverException","Message":"An exception occurred while executing 'DELETE FROM oc_ocsms_smsdatas WHERE user_id = ? AND sms_id = ?' with params [\"Andrea\", 9877]:\n\nSQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction","Code":0,"Trace":"#0

[2015-10-26 09:03] nerzhul commented on #71
This lock wait timeout is a real problem on your MySQL/MariaDB servers...

[2015-10-26 09:18] delumerlino commented on #71
So, suggestions?
Il 26/Ott/2015 10:03, "nerzhul" <notifications@github.com> ha scritto:

[2015-10-28 14:13] delumerlino commented on #71
No suggestion yet? I think 100 secs is too much time....

[2015-10-28 14:26] nerzhul commented on #71
100s is a lot yes. How many SMS did it try to sync ?

[2015-10-28 15:40] delumerlino commented on #71
They are about 8000...
Il 28/Ott/2015 15:26, "nerzhul" <notifications@github.com> ha scritto:

[2015-10-28 15:42] nerzhul commented on #71
Ok @delumerlino i think i should change the algorithm to send SMS in a less bulk manner, using for example 1000/1000 messages

[2015-10-28 16:07] delumerlino commented on #71
Thanks @nerzhul. I don't understand why this error even if the messages are correctly synced in the oc_sms page.

[2015-10-28 16:14] nerzhul commented on #71
i need to update app, but i miss some time i'm working on different free projects. I have some plans for owncloud SMS. Maybe i wil lwork on it this week. The problem you mention need a patch, fast

[2015-11-04 09:04] nerzhul commented on #86
@zubrick fixed in ownCloud-SMS-App/commit/c72a897f8199a2e3a1e3e94a44688e7a98e7f1c1

[2015-11-04 09:04] #86 closed

[2015-11-04 09:05] nerzhul commented on #86
A release will be done when i finished the refactor on the android app

[2015-11-04 09:05] nerzhul commented on #75
It's possible that oc_appconfig cause problems, it's a owncloud issue not our :(. Closed

[2015-11-04 09:05] #75 closed

[2015-11-23 02:09] olaulau commented on #71
I'm affected too. having many messages too (19500).
the server is powerful and internet connection fast.
the web app sends notification saying I've 19500 unread messages, and the phone has a notification with error #9. then it restarts to sync like this in loop. all messages seems to have been synchronized with owncloud.

[2015-11-23 12:59] enoch85 commented on #71
@nerzhul You said you will fix this several times for the past 6 months now. Please don't make the user pay for something you don' t have time to fix or update frequently.

[2015-11-23 13:02] nerzhul commented on #71
@enoch85 i released a version this week which permit to send message with a limitation. @olaulau what application version did you use ? 0.19.X is better for a so huge amount of messages

[2015-11-23 13:14] olaulau commented on #71
android app : owncloudSMS 0.18.5 from f-droid.
where can I get 0.19.x build ? can you push it to f-droid ?

[2015-11-23 13:21] nerzhul commented on #71
@olaulau i don't maintain android, someone else does it but i don't know who is this

[2015-11-26 03:51] animalillo commented on #71
@nerzhul maybe you should publish your own ocsms build? or get someone to maintain an ocsms build that you can contact and tell to push a new version?

[2015-11-29 20:21] skjnldsv opened #89 "Notification settings"
Hi!
Thanks for your awesome work.
I would like to suggest an addition to the settings:
- Disable notifications
- Enable notifications for incoming texts only (Right now I get notif for received AND sent sms)
- Enable for both (like it is right now)

Thanks again! ;)

[2015-12-05 01:01] p91 opened #90 "Option to Limit SMS shown per page"
Hi,

first of all, thank you very much for this app.
Unfortunately, I have some problems with very long conversations (>3000 SMS).
The scripts used freeze my firefox for about 2-3 minutes every time I visit the page.

Could we have an options to display the last x SMS in the conversation? Let x=500 as the default and if someone needs older SMS he can just click "next page" or scroll up and the nex

[2015-12-05 17:14] nerzhul commented on #90
@p91 angularJS is a little bit problematic. A such option could be useful, i need some time to look at angular best practices for this

[2015-12-09 23:26] krisken opened #91 "No app name specified"
I've installed the newest version of owncloud.  When I want to add the application (activate it), i get the error "No app name specified" when I click on "install".  I can't do anything further.

[2015-12-09 23:29] krisken commented on #91
ownCloud version: 8.2.1
    PHP version: 5.4.45
    HTTPd server: Apache 2.2.31
    HTTPS: cloud.krisa.be

[2015-12-10 14:41] nerzhul commented on #91
did you renamed the folder to ocsms ?

[2015-12-11 23:57] #91 closed

[2016-01-02 00:00] satou-kun opened #93 "No visible sync"
Apparently the web app and the android app have been installed successfully, without error messages.

The sync seems to work (I can see briefly the message "syncing in process") but in fact no message have been synced at all as I can see when I log on the server. I can only see the test messages.

Spec: owncloud 8.2 (archlinux)
webapp: v1.5.0
app: ocsms 0.18.5 from fdroid

[2016-01-02 09:03] #93 closed

[2016-01-02 09:04] satou-kun commented on #93
Answer: I use a different SMS app and the database on the phone is not the same. :(

[2016-01-03 14:45] nerzhul commented on #93
@satou-kun exact, sorry

[2016-01-28 13:20] StopTrain opened #94 "Issue on latest OC"
Did some testing with this and found that even after I've read all messages, I log out and back in, it shows everything as new again.

I've also noticed this error in my logs:

Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type) VALUES (?

[2016-01-28 23:05] nerzhul commented on #94
i'm french and i'm using UTF8 database, i think the problem is mainly on your database, not in ocsms

[2016-01-29 13:11] StopTrain commented on #94
Hmm and that could be, with regards to the database.  I'll look into that, but not had any issues with anything else so who knows.

What about the other question about read messages showing unread after I've logged out/logged back in, or just reloading the SMS app?   Example: I go to FIles, then come back to SMS, it shows them all as unread again.

[2016-01-29 15:29] nerzhul commented on #94
@StopTrain can you open an issue for this problem, i will look at this when i get some time, maybe this weekend :)

[2016-01-29 15:30] StopTrain commented on #94
Of course!  I'll close this and open a new issue.  Thank you for the prompt responses.

[2016-01-29 15:30] #94 closed

[2016-01-29 15:31] StopTrain opened #95 "Messages showing unread even after reading them"
So the issue with this is, I go to the SMS tab, shows my SMS messages that are synced, I read them, mark them as read, whatever.

If I switch to Files, then back to SMS or even reload the SMS interface, it shows all the messages as unread again.

[2016-01-30 20:50] nerzhul commented on #95
@StopTrain i tested your issue and didn't notice a problem. Can you look at the developper console to see what happens to the REST call when you open a conversation ?

[2016-01-30 21:48] nerzhul commented on #90
Fixed in master branch, added a setting.

[2016-01-30 21:48] #90 closed

[2016-01-30 21:49] nerzhul commented on #89
Hi @skjnldsv sorry for to be very very slow.
I will work on it, first to disable notifications. I agree notification for sent sms is a little bit useless, will look at my old notification code to see if there is a more portable way to do this using angular js, maybe. But first settings :)

[2016-01-30 22:23] nerzhul commented on #89
Issue solved in master. thanks for the idea

[2016-01-30 22:23] #89 closed

[2016-01-30 22:24] nerzhul commented on #83
Not related to this repository

[2016-01-30 22:24] #83 closed

[2016-01-30 22:26] nerzhul commented on #23
i don't remember the issue and picture wasn't present anymore. Can you resend me the picture please ?

[2016-01-30 22:28] enoch85 commented on #23
I don't use this app anymore. Buy it was that you can't swipe to see the conversations...

[2016-01-30 22:44] nerzhul commented on #23
okay, i haven't this issue anymore as it seems on my mobile phone. I close the issue

[2016-01-30 22:44] #23 closed

[2016-01-30 22:49] nerzhul commented on #76
The message count is not properly displayed

[2016-01-30 22:49] #76 closed

[2016-01-30 22:49] nerzhul commented on #95
also @StopTrain i do some commits this evening, can you retry to be sure with master ?

[2016-01-30 22:53] StopTrain commented on #95
Of course, I can work on that sometime this weekend and let you know.

[2016-01-31 04:22] skjnldsv commented on #89
@nerzhul Don't be! :)
Glad I could help!

[2016-01-31 09:26] nerzhul commented on #95
Thanks @StopTrain

[2016-02-01 15:55] StopTrain commented on #95
So whatever changes you made to master seems to have fixed the unread issue.  Is there a reason the page is 'blank' for a short period then shows up the conversations on the left?

[2016-02-01 15:56] StopTrain commented on #95
Meh, I was wrong, the changes didn't help.  Either something else is going on or my installation of ocsms is borked.

[2016-02-01 16:05] nerzhul commented on #95
Conversations are loaded async, it's why you wait a short time

[2016-02-01 16:08] StopTrain commented on #95
That makes sense, but why would it not stay 'read'?

[2016-02-01 16:14] nerzhul commented on #95
I don't know, because i'm unable to reproduce the problem atm :(

[2016-02-04 18:29] stefan-niedermann opened #96 "Please add license-file"
You already mentioned in README.md that this software is licensed under the AGPL. Please add a LICENSE-file with the AGPL-license.

[2016-02-05 08:02] #96 closed

[2016-02-05 08:02] nerzhul commented on #96
Thanks for your report

[2016-02-06 03:22] dh-connect commented on #95
I have the same problem, it works for some contacts but when i hit certain contacts all contacts, even the ones which marked before as read, come up as unread again, when i open up the dialog next time, the only way to reset this, is to truncate all records from "oc_ocsms_user_datas", so i have contact with more than one number, but this shouldn't be the problem maybe it's the number format or the

[2016-02-06 03:46] dh-connect commented on #95
after looking at the tables, maybe it would be a good idea not to use the sms_address as a key, because it can have all different kinds of symbols "+/() " etc, what is if I have the same number in different formats in the database, i would suggest an own generated key for each number which can be used in smsdata and user_datas, ok maybe you will need another table to store the number per key, but

[2016-02-08 16:47] mcepl opened #98 "Blank page syntax error, unexpected '[' at smscontroller.php#59"
When enabling ocsms on owncloud owncloud-7.0.12-1.el6.noarch (RHEL-6, packages from Fedora EPEL) with PHP 5.3.3 I got this error when switching to SMS app as normal user (installation went without a problem, seemingly):
[code]
and webpage is completely blank, only web console in Firefox reports error 500.

[2016-02-09 08:57] nerzhul commented on #98
mcepi you should use PHP 5.4 at least . PHP 5.3 isn't supported anymore

[2016-02-09 10:18] stefan-niedermann opened #99 "Can not activate server app on OC 8.2.2"
Error message: `Das Archiv enthält kein Verzeichnis mit dem Namen ocsms`
Translation: "The archive does not contain a directory with the name ocsms"

[2016-02-09 10:20] mcepl commented on #98
Can I plead for mercy here? ``php 5.3`` is what's installed on the plain RHEL-6, and Fedora people managed to keep [OwnCloud 7 working on it](https://bodhi.fedoraproject.org/updates/?packages=owncloud). I was mighty encouraged when I saw that you still support OC7, so I hoped that I could use it. Unfortunately, it is unlikely that I would break this system and run from unsupported third party pack

[2016-02-09 10:42] nerzhul commented on #98
@mcepl which release do you use ? Maybe i can look at this, but PHP 5.3 is old and not covered by security fixes

[2016-02-09 10:56] mcepl commented on #98
``php-5.3.3-46.el6_6.x86_64`` is the official PHP on RHEL-6

[2016-02-09 16:27] nerzhul commented on #99
@stefan-niedermann ensure there is ocsms not ocsms-master in your apps folder

[2016-02-09 16:32] stefan-niedermann commented on #99
Well, tried to install it from the built-in ownCloud "App-Store" - i guess other people should have the same problems...

[2016-02-09 16:42] nerzhul commented on #99
yes; the appstore integration with github is not very good :(

[2016-02-24 13:12] Vaear opened #100 "ocsms with signal"
Hello, i was wondering if it is possible to make this work with the Signal sms app from Open Whisper systems? I can't make it sync from Signal atleast, it only picks the sms that are in the stock app that came with CM12.1 in my case.

[2016-02-24 20:53] nerzhul commented on #100
hi @Vaear if you want to support this, i think you could help by providing a patch adding a provider on the owncloud sms app repository.
I close this issue because it's not related with ocsms server backend

[2016-02-24 21:20] #100 closed

[2016-03-01 14:08] bestouff opened #101 "Use SMS-Backup+ database"
Hi,

For those who already have installed the (more mature) SMS-Backup+ utility, would it be possible to use it as SMS database, to be able to have the nice SMS view ?
Basically that would mean having an IMAP backend.

[2016-03-05 14:49] Jef2i opened #102 "SYSTEM ressources overloaded by "DELETE FROM ocsms_smsdatas ..." queries"
## App Context :
Hardware  : NAS Synology
OwnCloud : custom (ie. not from Syno apps) install of v8.1.3
DB backend : internal PostgreSQL
OCSMS server-side : v1.6.0
OCSMS android app : v0.18.5 (from f-droid)

## Usage Context :
.more than one year since OC is installed and running quite fine
.more than six months since OCSMS is installed. Updates by disabling the app, then replacing the folder app t

[2016-03-05 17:10] nerzhul commented on #102
Hi @Jef2i thanks for your return. Please tell me if you are doing yourself a delete on those SMS or is this triggered by a syng

[2016-03-05 18:48] Jef2i commented on #102
Maybe could I SELECT, or ALTER some non sentitive field but if I don't master a little I don't DELETE neither INSERT anything in it.
So I guess it is coming from an internal function.
`writeToDB` seems to exec this query in some case ...

[2016-03-08 22:08] nerzhul commented on #102
@Jef2i what is your max_size for PHP memory options ?

[2016-03-08 23:14] Jef2i commented on #102
`phpinfo()` says
`memory_limit => 128M`

[2016-03-09 06:19] nerzhul commented on #102
can you increase to 512M ?

[2016-03-10 07:23] Jef2i commented on #102
Ok I did it and I still have the same behavior.
As I don't see a higher CPU use I may conclude that prostgres processes have enough memory in usual (ie. non-modified php.ini) case.

[2016-03-10 12:00] enoch85 opened #104 "PHP 7 supported?"
As the headline says, is PHP 7 supported? If not, please rewrite the code. :)

[2016-03-10 12:01] #88 closed

[2016-03-10 12:04] enoch85 commented on #24
Looking forward to 2-way sync. :) Any update?

[2016-03-10 15:00] nerzhul commented on #104
@enoch85 very good question, i don't tested it atm, but i'm using owncloud APIs not specific APIs this should work :)

[2016-03-17 18:56] nerzhul commented on #104
@enoch85 PHP 7.0.4 is now available in FreeBSD ports, i will upgrade my 5.6 to 7.0.4 if owncloud & wordpress are compatible and answer to your issue

[2016-03-17 19:08] enoch85 commented on #104
Both Wordpress and ownCloud runs smooth on PHP 7. :)

[2016-03-17 21:07] nerzhul commented on #104
@enoch85 i migrated my wordpress & owncloud instance to PHP 7.0.4, everything works great (and my wordpress show pages instanly, before it took ~500ms).
ocsms is compatible with PHP 7

[2016-03-17 21:07] #104 closed

[2016-03-24 10:08] Preovaleo opened #107 "call apps/ocsms/get/new_messages?lastDate=0 at the loading"
Hi,

When you load the page, i think you start a loop that wait 1s and call apps/ocsms/get/new_messages?lastDate=0.
So when i load the page, i need to wait 1s before see any message.
Yes i know i can wait 1 second, but in my mind each time it happened, i think "broken ?"

Is it possible to load the page before wait ?

### Steps to reproduce
1. load the sms default page
2. nothing happened during o

[2016-03-24 10:19] Preovaleo commented on #107
I think it's in the js/public/app.js
i think you need to invert line 403 and 404

[2016-03-24 16:08] nerzhul commented on #107
Thanks for your request, it's a trivial fix and i applied it :)

[2016-03-24 16:08] #107 closed

[2016-03-24 16:08] nerzhul commented on #99
@stefan-niedermann issue is now fixed on playstore

[2016-03-24 16:08] #99 closed

[2016-04-05 04:28] affanse opened #108 "Organized Web View"
Current view is really heavy loading 5000 sms. Maybe you can re-organized the view for a lighter experience by:
1. List By Contacts not by the message it self. so every contacts can have multi session conversation.
2. Create a Junk folder and move to junk folder if the phone numbers shorter then 8 digits and not in contacts list.
3. Create a folder for number not in contacts.

[2016-04-05 11:11] enoch85 commented on #108
Lazy loading would be an option maybe?

[2016-04-05 18:33] nerzhul commented on #108
@affanse there are some things to do on the angular interface, i agree. Sorting is a little work to do, and i'm thinking about it since some time without having time to devel it. Will look at this in some days

[2016-04-08 02:09] enoch85 opened #109 "Error PHP Undefined variable: r at /var/www/owncloud/apps/ocsms/controller/smscontroller.php#102"
### Steps to reproduce
N/A

### Expected behaviour
No error in owncloud.log

### Actual behaviour
[code]
### Server configuration

**ownCloud version:**
9.0.1
**PHP version:**
PHP 7
**HTTPd server:**
Apache 2.4
**HTTPS:**
Yes
### Client configuration

**Android version:**
6 Marshmallow
**Phone:**
Nexus 5
**ownCloud SMS app version:**
0.21.2
### Logs

[code]

[2016-04-08 08:36] nerzhul commented on #109
Thanks for your report, will fix this asap

[2016-04-08 08:41] nerzhul commented on #109
Fixed

[2016-04-08 08:41] #109 closed

[2016-04-08 08:43] nerzhul commented on #102
@Jef2i  sory for to be late. what is the delete count ? (if you do a select) ?

[2016-04-08 08:44] nerzhul commented on #98
5.3 is EOL, i cannot support it anymore

http://php.net/supported-versions.php

[2016-04-08 08:44] #98 closed

[2016-04-15 11:42] 466 commented on #4
Hi there,
It's been a while since this topic was addressed, so, are there any news regarding this? :)

Caus, once you are able to send sms via owncloud webapp to the android app, you could 'easily' add features, like having the phone react on a given SMS (tracking, deleting files, lock the phone ... )
(OK, this is android app related)

I'd really like to have something like that directly from with

[2016-04-21 10:03] mnalis opened #110 "seems to sync, but no SMS displayed in web browser"
### Steps to reproduce
1. open owncloud URL in browser
2. login
3. choose "SMS" from drop-down to open

### Expected behaviour
I expected to be shown list of backed up SMS messages.

### Actual behaviour
Nothing is shown on left side of the screen below ownclouds drop-down menu, and on main (right) part of the screen it says just "Please choose a conversation on the left menu"

Situation in same i

[2016-04-22 08:33] nerzhul commented on #110
@mnalis your problem is the contact app in owncloud 7. Please update it

[2016-04-22 12:06] mnalis commented on #110
Thanks for your answer, just a little more clarification.

It is default (core) contact app that comes with owncloud 7.0.4 in Debian Stable.
Is that owncloud version unsupported by ocsms? As it is core app, I would have to upgrade whole owncloud (thus whole Debian to Testing instead of Stable,  or drop the debian package and reinstall owncloud from source)?

Because that core Contact app works fin

[2016-04-22 15:39] nerzhul commented on #110
it's not owncloud version but contact app version on version 7.X has a bug for ocsms but not only for ocsms, also for other apps who wants to access ton contacts. This has been fixed by ownCloud 8 and i recommend upgrading to owncloud 8 at least (version 9 is released)

The problem is the contact app API bug, not the app in the web interface.

[2016-04-25 08:26] azlux opened #111 "Duplicate conversations"
Hi,
Into my ocsms, conversation are duplicated, one with the name (from contacts) and one with the number phone.
Both are updated when I sync my phone.

I don't know how to reproduce that, may be because i've delete/reinstall all contacts into owncloud after installing ocsms.
### Server configuration

**ownCloud version:** 9.0.1

**PHP version:** 7.0.6

**HTTPd server:** nginx + debian8

**HTTPS:*

[2016-04-25 08:49] nerzhul commented on #111
hi @azlux in which country did you reside ? It could be due to an incoherence between your phone and your contacts on owncloud

[2016-04-25 08:53] azlux commented on #111
france, you mean because of the +33 into the phone number ? I've checked, and i have duplicated conversation for numbers with and without the country code.

[2016-04-25 08:56] nerzhul commented on #111
@azlux i'm french too. On the conversations did you see exactly same phone number in the list when they are opened ?

[2016-04-25 09:02] azlux commented on #111
ok, I can see the problem, for duplicate conversations,  06**** numbers appeared into +336**** when the conversation is open

[2016-04-25 09:04] nerzhul commented on #111
@azlux seems there is a problem with the dedup algorithm. Have you set your country in the app settings ?

[2016-04-25 09:08] azlux commented on #111
Yes, the setting is good, duplicate conversation are more like links, when I click on a 06*** conversation, the +336*** (with the good contact name) appear.

[2016-04-25 09:17] azlux commented on #111
ho ! i have a log about ocsms i didn't see because it's appeared only twice this night. I'm not sure it's related
[code]

[2016-04-25 09:25] nerzhul commented on #111
i don't think it's related by i take note for a later improvement.

[2016-04-25 16:14] enoch85 commented on #71
Hey, I have the same issue since I upgraded to Ubuntu 16.04 with PHP 7 and MySQL 5.7. I installed the app from Google Play.

I have not tried to reinstall everything. But just letting you know @nerzhul that this issue exists on a cutting edge install (server) as well.

[2016-04-27 15:31] azlux commented on #111
into your smscontroler : https://github.com/nerzhul/ocsms/blob/master/controller/smscontroller.php#L90
You check cache number before, so when we enter new phone number, the cache will not be updated.
I'm not sure at all, I didn't take enough time into your code to understand everything.

[2016-04-27 22:50] enoch85 opened #112 "Error after upgrade to Ubuntu 16.04 with PHP 7 and MySQL 5.7"
### Steps to reproduce
1. Install Ubuntu 16.04 (forced to use PHP 7 and MySQL 5.7)
2. Get some error about Http (Error # 9)
3. Reinstall the app and wipe database

### Expected behaviour
No errors

### Actual behaviour
[code]

### Server configuration

**ownCloud version:**
9.0.1
**PHP version:**
7
**HTTPd server:**
Apache 2.4
**HTTPS:**
Yes
### Client configuration
0.21.2
**Android version:**
6.0

[2016-04-28 05:28] nerzhul commented on #112
Seems you have unicode strange things. Ensure your database is UTF-8. I already have MariaDB 10.1 and PHP 7 and nothing happen. This error is not due to ocsms.

[2016-04-29 10:55] mnalis commented on #110
I've managed to update to last owncloud-7.0.13~dfsg-1 from snapshot.debian.org (it seems owncloud is being removed from Debian by request of the upstream), and I can confirm the list of SMSs is now showing (although they are shown in duplicate now it seems - but that seems to be another bug, which I'm not going to persue as 7.x is not really supported anymore as you say).

[2016-04-29 10:55] #110 closed

[2016-04-29 10:57] nerzhul commented on #110
@mnalis thanks for your return

[2016-04-29 13:40] #112 closed

[2016-04-29 14:03] enoch85 commented on #4
This should also include delete on phone IMHO.

[2016-04-29 14:03] nerzhul commented on #4
@enoch85 indeed

[2016-04-30 19:47] JujuBickoille opened #113 "JSON data corrupted ?"
Hello,

I've a trouble with app on my NGINX's configuration, I dunno what to do, maybe you got some ideas...

When I go to the app tab, I got many know contact displays with their phone number and they are set as unread ( same in issue #95 ).

When I read my ngnix's log, I got some really crazy things inside:

`2016/04/30 20:58:30 [info] 8333#0: *5555 client sent too long header name or value: "/9

[2016-05-01 09:07] nerzhul commented on #113
Hello
this base 64 string is your contact photo as viewed in contact app. Did it work on contact app ?

[2016-05-01 12:20] JujuBickoille commented on #113
Hello nerzhul,

Yeah I don't have problem with the contact app, all contact photos are correctly show in contact App.

[2016-05-01 12:35] JujuBickoille commented on #113
the contact app is using base64 image, I can see they provides from /remote.php/dav/addressbooks/users/<username>/contacts/

I see the XML with image encoded in base64

You think it can be possible error provide from an invalid photo ?

[2016-05-01 15:33] JujuBickoille commented on #113
I've try many things and I found some good things.

1st, I've cleanup my contacts, I've change all phone numbers to same syntax ( +<countrycode><phonenumber> )
=> example: before => "01 11 33 74 17" after => "+33111337417"
2) I've change all entry in database to match exact new phone number
UPDATE oc_ocsms_smsdatas  SET sms_address = REPLACE(sms_address, '01 11 33 74 17', '+33111337417') WHERE sms

[2016-05-01 16:29] JujuBickoille commented on #113
Finally, when I receive a new message it is still wrong, I got the error in nginx :|

It comes when I have an unreaded message, it make a duplicate contact with the 1st with unread message and 2nd contact with photo and " no new message " status

Thank you

[2016-05-04 08:38] KekcuHa commented on #112
Confirm this bug:
owncloud 9.0.2 + php 7
`Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type) VALUES (?,?,?,?,?,?,?,?,?,?)' with params ["yavorsky.a", "2016-05-04 08:27:51", "2016-05-04 08:27:51", "11", "1457160513960", 886, "+79857961065

[2016-05-04 08:40] nerzhul commented on #112
@KekcuHa what is your database encoding ? utf8 or not ?

[2016-05-04 08:49] KekcuHa commented on #112
utf-8:
`CREATE TABLE `oc_ocsms_smsdatas` (
	`id` BIGINT(20) NOT NULL AUTO_INCREMENT,
	`user_id` VARCHAR(64) NOT NULL COLLATE 'utf8_bin',
	`added` DATETIME NOT NULL DEFAULT '1970-01-01 00:00:00',
	`lastmodified` DATETIME NOT NULL DEFAULT '1970-01-01 00:00:00',
	`sms_id` BIGINT(20) NOT NULL,
	`sms_address` VARCHAR(64) NOT NULL COLLATE 'utf8_bin',
	`sms_msg` VARCHAR(2048) NOT NULL COLLATE 'utf8_bin',

[2016-05-04 08:52] nerzhul commented on #112
@KekcuHa thanks, we need to find how to fix this problem if you have ideas, because i'm using standard owncloud API directives for scheme and queries...

[2016-05-05 16:40] KekcuHa commented on #112
I've execute this query in mysql client:
`INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type)
VALUES ("yavorsky.a", "2016-05-05 16:22:09", "2016-05-05 16:22:09", "11", "1453562119712", 615, "+79268538617", "\u041f\u0440\u0438\u0432\u0435\u0442! \u0421 \u0434\u043d\u0435\u043c \u0440\u043e\u0436\u0434\u0435\u043d\u044

[2016-06-20 14:34] zwiebelchen commented on #4
Have you thought about Firebase Cloud Messaging (formerly Google Cloud Messaging)?
As far as I understand, you can send a message using HTTP to FCM which then gets pushed to your app.
So you don't have to poll written messages in OwnCloud with your app...

[2016-07-01 08:33] tchncs opened #115 "add support for silence"
hi there,

i prefer to use the app [Silence](https://github.com/SilenceIM/Silence) for my sms.
is it possible to support it also? :)

regards!

[2016-07-02 21:42] Dragnucs commented on #115
Yes, supportting Silence would be great.

[2016-07-20 08:57] enoch85 commented on #4
Any update here? I got a request from a customer that were interested in this app. ping @nerzhul

[2016-08-18 20:29] FrederikLauber opened #116 "Picture of contacts not displayed"
Hi,

I noticed that my contacts do not have there picture properly displayed anymore.
See Screenshot for more information.
![unbenannt](https://cloud.githubusercontent.com/assets/17728264/17789612/3f38e10c-6593-11e6-87f8-5f01bfc3f2f4.png)

Version is 1.7.0

### Steps to reproduce
1. Have a conversation with a contact with a picture
2.
3.

### Expected behaviour
The contact should display the pictu

[2016-08-19 11:28] nerzhul commented on #116
Hi, can you give me an example URL for your contact images, looking at the source page code ?

Thanks

[2016-08-20 09:06] FrederikLauber commented on #116
Hi,

you mean this:
data:image/png;base64,aHR0cHM6Ly9jbG91ZC5mbGFtYmRhLmRlL3JlbW90ZS5waHAvZGF2L2FkZHJlc3Nib29rcy91c2Vycy9wOTEva29udGFrdGUvQzcyRjcyMzYtNEQ2MC0wMDAxLTI0NzAtMUUwMDFDODAxNDFFLnZjZj9waG90bw==

?
Or something else?

[2016-08-23 17:59] nerzhul commented on #115
hi, can you backport this change to nerzhul/owncloud-SMS-App please ? this is not related to server side

[2016-08-23 17:59] #115 closed

[2016-08-23 18:01] nerzhul commented on #113
hi @JujuBickoille we change some things in the API in 1.7.0, does the issue affect yourself with last version ?

[2016-08-24 08:10] binome333 opened #117 "conversations get duplicated"
Since my upgrade to owncloud 9.1.0, when I open a conversation and wait for a time (not doing anything), the whole conversation gets printed (duplicated) again and again, every 10sec.
eg.
T=0:
"Hi there
Jul 9, 2016 1:22:46 PM"
                                     "I'm here
                                      Jul 9, 2016 1:25:00 PM"

T=10sec:
"Hi there
Jul 9, 2016 1:22:46 PM"

[2016-08-24 13:28] nerzhul commented on #117
Thanks for your report, i will look at this shortly

[2016-08-24 14:31] Dragnucs commented on #115
Here you go: https://github.com/nerzhul/ownCloud-SMS-App/issues/107

[2016-08-24 14:37] nerzhul commented on #115
Thanks

[2016-08-26 11:02] nerzhul commented on #116
Hi @FrederikLauber i think it's a contact app issue somewhere. I noticed the same problem for me when i upgraded to nextcloud 10.0. I will look at this this weekend

[2016-09-01 19:46] JujuBickoille commented on #113
Hello @nerzhul
I've install the 1.7.0 and it's same. I got same troubles:

=> All messages are set unread when I switch app and come again
=> all user pictures are broke

[https://cloud.famille-perret.ovh/ocsms.png](url)

The good things is I have no error in my logs and JSONs don't seem to be corrupt so it's better :Ð

[2016-09-01 20:06] JujuBickoille commented on #113
Maybe the same than #117  I'm using now owncloud v9.1.0

[2016-09-02 07:41] nerzhul commented on #113
@JujuBickoille i need to do some IHM fix but lack some time, if you know angular JS maybe you can help me :)

[2016-09-23 11:49] animalillo opened #118 "NextCloud"
I was wondering if you are planning to give support for nextcloud as I've been thinking in migrating my oc instance to nexcloud and I like this app a lot, and a lot of apps are migrating to nextcloud

[2016-09-23 17:49] nerzhul commented on #118
This is already the case as i'm developping on it
App is on the store

https://apps.nextcloud.com/app/ocsms

[2016-09-23 17:49] #118 closed

[2016-09-28 03:58] animalillo commented on #118
link gives page not found, but it's good to know!

[2016-10-09 12:00] abishai opened #119 "CSP is blocking page loading"
I installed ocsms app in nextcloud-9.0.53
I have problems when I opening SMS page from nextcloud menu (it should be empty as no attempt to sync was done) - the loading animation plays and that's all.

In console I see
Content Security Policy: The page's settings blocked the loading of a resource at self ("script-src https://my domain 'unsafe-eval'").

I curl'd to server and fetched the following p

[2016-10-09 12:10] abishai commented on #119
Actually, maybe this is intended behaviour ? I see that CSP error is triggering in all pages, so maybe this is 'normal' (well ,I suppose it is not, but at least it's not breaking other apps). Network monitor sees activity, so I can't say scripts are broken.

[2016-10-27 16:33] pawlosck commented on #117
The same problem on nextcloud 10.0.1. Upgrade from owncloud 9.0.3 if I remember well. On OwnCloud I couldn't display anything. I saw animated lines only.
In my case, probably last downloaded sms are duplicated only.  When I refresh website, duplicated sms are removed from screen but after few seconds sms are duplicated again every few seconds.
Sms stored to database are not duplicated/removed from

[2016-10-27 17:12] pawlosck opened #120 "OwnCloud SMS cause problem with calendar/contacts/tasks/files synchronisation"
When I installed owncloud sms app on NextCloud, I lost possibility to synchronisation calendar/contacts/tasks (DAVDroid) and files synchronisation (NextCloud app for Android).
When I try to synchro files, I see message about failed operation. The same problem during calendar/contacts/tasks synchronisation. DAVDroid can synchronise, but very rarely. One every 30-40 attempts.

I have problems to log

[2016-10-28 05:55] nerzhul commented on #120
This is a very very strange issue. The request you show is not related to ocsms. Are you using sqlite ? If yes i think this is an issue with concurrent access to your sqlite database. ocsms calls its own tables (not others, except the sessions, but using the nextcloud API) when syncing.
I think you should switch to pgsql or mysql.

[2016-10-28 05:59] nerzhul commented on #102
I close the issue as there is a missing index. I added it now to master, will push a new version when more changes will be present

[2016-10-28 05:59] #102 closed

[2016-10-28 06:00] nerzhul commented on #119
hello @abishai cahnge you tell me which eval is unsafe ? because as i remember i didn't use this method. Ocsms is a pure angularJS app, it use REST methods, unrelated to domain named

[2016-10-28 06:02] nerzhul commented on #116
This is now fixed

[2016-10-28 06:02] #116 closed

[2016-10-28 06:02] nerzhul commented on #113
Pictures are now fixed, can you confirm ?

[2016-10-28 06:02] nerzhul commented on #66
Closing this as now it's better

[2016-10-28 06:02] #66 closed

[2016-10-28 06:34] abishai commented on #119
Hello.
Actually, I hit another issue with SMS App documented herel https://github.com/nerzhul/ownCloud-SMS-App So, I stopped debugging the link between application and phone. I'm waiting when updated version of the app will be pushed into F-Droid.

[2016-10-28 07:34] nerzhul commented on #119
Please note i don't maintain the F-Droid repository, only the Google Play Store

[2016-10-29 13:17] JujuBickoille commented on #113
Yes, it work perfectly now !

Thank you very much =)

[2016-10-29 19:05] rykeon990 opened #121 "Conversations are split between two threads"
### Steps to reproduce
1.  Open the SMS app with the owncloud web interface (Issue is the same for all browsers)
2. Different / multiple contact phone numbers entries? (I'm not sure this is the cause)
3.

### Expected behaviour
Conversations with contacts appear in one thread.

### Actual behaviour
I see two entries in the owncloud interface, one entry contains messages I've sent (It seems to cont

[2016-10-30 07:24] nerzhul commented on #121
It seems the conversation deduplication doesn't work as intended in your case. I add the bugfix label

[2016-11-07 13:23] DJaeger commented on #117
For me it looks a little different:

T=0:
"Hi there
Jul 9, 2016 1:22:46 PM"
"I'm here
Jul 9, 2016 1:25:00 PM"

T=10sec:
"Hi there
Jul 9, 2016 1:22:46 PM"
"Hi there
Jul 9, 2016 1:22:46 PM"
"I'm here
Jul 9, 2016 1:25:00 PM"
"I'm here
Jul 9, 2016 1:25:00 PM"

T=20sec:
"Hi there
Jul 9, 2016 1:22:46 PM"
"Hi there
Jul 9, 2016 1:22:46 PM"
"Hi there
Jul 9, 2016 1:22:46 PM"
"I'm here
Jul 9, 2016 1:25:00 PM

[2016-11-07 14:02] nerzhul commented on #117
I think the problem is message fetching, we didn't instruct server with correct informations on the first refresh. Then the message is dup. If i remember messages are an array, maybe we should have a dict with message_time as key (as it's in microsec)

[2016-11-07 14:39] DJaeger commented on #117
For me it looks a little different:

T=0:
"Hi there
Jul 9, 2016 1:22:46 PM"
"I'm here
Jul 9, 2016 1:25:00 PM"

T=10sec:
"Hi there
Jul 9, 2016 1:22:46 PM"
"Hi there
Jul 9, 2016 1:22:46 PM"
"I'm here
Jul 9, 2016 1:25:00 PM"
"I'm here
Jul 9, 2016 1:25:00 PM"

T=20sec:
"Hi there
Jul 9, 2016 1:22:46 PM"
"Hi there
Jul 9, 2016 1:22:46 PM"
"Hi there
Jul 9, 2016 1:22:46 PM"
"I'm here
Jul 9, 2016 1:25:00 PM

[2016-11-07 14:54] DJaeger commented on #117
The network analysing of the Firefox Developer Tools is showing me, that these request are done every few seconds.
https://cloud.example.com/index.php/apps/ocsms/get/new_messages?lastDate=1478457957328
https://cloud.example.com/index.php/apps/ocsms/get/conversation?phoneNumber=%2B4917XXXXXXXX&lastDate=1478457957328

It seems, that the response of "conversation" is completely added to the current a

[2016-11-07 15:01] nerzhul commented on #117
thanks for the return back for this behaviour, will look at this except if someone is faster than me to provide a patch :)

[2016-11-11 09:15] #117 closed

[2016-11-11 11:18] DJaeger commented on #111
The error seems to occur on setting the country setting.
I think it could be, that the country is not set correctly.
Please try to change the country to another one and change back to France.
Than see if there are errors in the log.

[2016-11-11 11:22] DJaeger commented on #121
@rykeon990: Could you please compare the numbers of the splitted conversations shown in the URL-bar and within the conversations below the contact name?
Please post the shown number formats here with some anonymized numbers

[2016-11-11 16:12] nerzhul commented on #111
This issue is now fixed

[2016-11-11 16:12] #111 closed

[2016-11-11 16:12] nerzhul commented on #101
This issue should be done on android app repo, not backend

[2016-11-11 16:12] #101 closed

[2016-11-12 17:57] olantrust opened #124 "Screenshots missing from Nextcloud appstore entry"
Currently there is no image present for the entry for this app, which doesn't look great, and an image (or better images) would help appstore users get a feel for what the app is.

[2016-11-12 18:49] rykeon990 commented on #121
@DJaeger Sorry it took so long to respond back.

From the address bar at the top, the conversations that work (where all the messages are in a single thread) are of the form +1###XXX#### (country code, then 10 digit number). The conversations that are split have several different forms for the phone number:
First: ###XXX#### (without the country code in one thread and with the country code in anot

[2016-11-13 09:14] nerzhul commented on #124
@olantrust i saw this issue when publishing it. I haven't got time to fix this issue yet

[2016-11-14 00:59] olantrust commented on #7
Hey any progress with this?

It would be really useful to record the actual time sent, received, and the delivery status (and update these as necessary).

We are happy to put a bounty on this! :)

[2016-11-14 01:03] olantrust opened #125 "Option to store/display sender number (for multi phone accounts or dual SIMs)"
It would be good to
1) store
2) display
3) sort by
sender number.

So that those with dual SIM phones can make better use of the software, and so that multiple phones (or other SMS accounts) could share the same inbox.

[2016-11-15 11:15] DJaeger commented on #121
Looks like you have not set a country in the settings.
If you have one selected, please try to select another country and set it back.

[2016-11-15 21:24] pawlosck commented on #120
Bug fixed when I cloned today repo. Probably bug connected with duplicated messages.

commit 8ecf36046259f2af2e30a46b03fcdaf0bab41361
Date:   Fri Nov 11 17:14:46 2016 +0100
Fix conversation loader shown where no conversation choosen

[2016-11-15 21:37] pawlosck opened #126 "[Question] How to overwrite database?"
How to overwrite database?
I don't know why, but smses from one contact (I saw only one contact with this problem, but can be more) contain only smses sent by me, but I can't see smses sent to me.

I would like to synchronise all smses again and maybe all smses will be stored this time.

[2016-11-15 22:29] nerzhul commented on #126
@pawlosck what do you want to do with database exactly ?

[2016-11-15 22:30] nerzhul commented on #121
I also thinkg @DJaeger diag is correct, can you tell us if it's okay ?
Maybe i should add a notice to users if no country has been selected

[2016-11-15 22:30] nerzhul commented on #120
perfect then :)

[2016-11-15 22:30] #120 closed

[2016-11-15 22:56] rykeon990 commented on #121
@DJaeger @nerzhul The country code was selected. I changed the country, then changed it back and it still has the same problem.

[2016-11-15 23:22] pawlosck opened #127 "Remove phone number from web address"
When I open any conversation, phone number is visible in web address. It's not good idea when user want to use it on public computers.
Phone number is saved in web browser history.

[2016-11-15 23:26] nerzhul commented on #126
just truncate oc_ocsms_sms_datas

[2016-11-15 23:26] nerzhul commented on #126
on the store it's the raw data, the PHP code does the dedup if you select the country code

[2016-11-16 07:00] nerzhul commented on #127
Effectively it's not good for privacy, but there is no better choice to define which user you want to read, this is also used in refresh mode. Please also note anybody can know which file you are reading/syncing from owncloud/nextcloud too, reading apache logs

[2016-11-22 17:17] gkleman commented on #121
I'm seeing the same thing.  I get two conversations: one including the messages I sent, and the other are the messages I received.  The only difference is that the messages that are sent to my phone show up with a +1 in front of the number.

(XXX) XXX-XXXX = messages I sent
+1XXX XXX-XXXX = messages sent to my phone.

Looking back in the in the (XXX) XXX-XXXX file, this started happening after Oct

[2016-11-23 00:39] rykeon990 commented on #121
Just throwing out a guess here. It seems @gkleman and I are having similar cause and effect here, and it's the parenthesis in the contact's number. So is there a way to have the code recognize the phone numbers and group them regardless of parenthesis? i.e.

(123) 456-7890 same as +1(123) 456-7890 same as +11234567890

The conversations I have that are working correctly have the contact's phone nu

[2016-11-23 18:15] gkleman commented on #121
I'm not sure that the parenthesis is the issue.  I shouldn't have written the parenthesis in my example.  I have split threads with 1234567890 and +11234567890.  With the +1 being the messages received by my phone, and the no +1 being the messages sent from my phone.  Also, looking back at the messages, this started after September 26 (not October).

[2016-12-08 21:37] nerzhul commented on #113
Closing as it's fixed but i forget the feedback :)

[2016-12-08 21:37] #113 closed

[2016-12-08 21:40] nerzhul commented on #87
This is now fixed, please upgrade server to 1.11.0 at least and wait for android app 0.33.0 to restore them

[2016-12-08 21:40] #87 closed

[2016-12-08 21:41] nerzhul commented on #7
@olantrust there is no field for that in Android database

[2016-12-14 11:25] jancborchardt commented on #124
@nerzhul also, it’s still called »ownCloud SMS« there which is a bit confusing. ;)

[2016-12-14 11:39] nerzhul commented on #124
@jancborchardt in fact the main problem was the app done for owncloud before the fork, just calling it sms is hard, maybe should i call it "phone" because i think about adding more phone sync features...

[2016-12-14 11:40] nerzhul commented on #124
if someone has time to provide a PR with nice screenshots + app config, don't hesitate

[2016-12-14 12:00] enoch85 commented on #124
@nerzhul What about "Phone Sync"?

[2016-12-14 13:38] nerzhul commented on #124
@enoch85 sync call log for example, maybe other features, there are many possibilities but it only need time and hands

[2016-12-14 13:57] enoch85 commented on #124
@nerzhul I meant the name of the app ;)

[2016-12-14 14:00] nerzhul commented on #124
@enoch85 oh sorry, i misunderstood, in fact i can rename the label to a similar thing, but please note i cannot rename easily the technical name, it's same thing on playstore because the appname is unique over all the playstore :)
Phone Sync seems reasonable, yes, i will think about it and how to migrate labels to this name, the only problem remain android itself where the name is too generic but

[2016-12-14 14:10] enoch85 commented on #124
@nerzhul Thanks!

Why not just "Phone Sync" to fit all needs in the future as well...? Anyway, thanks again for your efforts.

[2016-12-14 14:45] nerzhul commented on #124
for the NextCloud Phone Sync it's for Android only, not nextcloud app, which knows it runs on nextcloud :)

[2016-12-14 17:42] CountMurphy opened #128 "Incompatible with Nextcloud 11"
### Steps to reproduce
1.Upgrade to Nextcloud 11

Running ownCloud SMS 1.11.0. Error message:

- This app has no maximum Nextcloud version assigned. This will be an error in the future.
- This app cannot be installed because the following dependencies are not fulfilled:
   Server version **9.2 or lower is required.**

[2016-12-14 17:50] CountMurphy commented on #128
Looks like you fixed it. Thansk!

[2016-12-14 17:50] #128 closed

[2016-12-14 21:58] nerzhul commented on #128
Yes it's fixed before release :) you just need to upgrade

[2016-12-14 23:27] jancborchardt commented on #124
@nerzhul only one thing, remember it’s capitalized »Nextcloud« with small c ;)
You could call it »Phone sync for Nextcloud« or »SMS sync for Nextcloud«. Then the important stuff comes first.

[2016-12-15 08:00] stefan-niedermann opened #129 "Only received messages in Webview"
### Expected behaviour
Sent messages should be in Webview, too.

### Actual behaviour
Only received messages are visible

### Server configuration

*Nextcloud version:** 10

### Client configuration

**Android version:** 6

**Phone:** Nexus 5x (Bullhead)

**Nextcloud SMS app version:** Latest from F-Droid

### Logs

[code]

[2016-12-15 08:05] stefan-niedermann opened #130 "Use loading spinner from core"
To get a consisten look and feel in Nextcloud you should use the default spinner instead of the current.
A span with class `icon-loading` shows the core spinner.

[2016-12-15 09:13] stefan-niedermann commented on #129
Nevermind... no they are there ôO...

[2016-12-15 09:13] #129 closed

[2016-12-15 10:45] nerzhul commented on #130
@stefan-niedermann why not, can you provide a PR with before & after screenshot to show the difference ?

[2016-12-15 10:51] nerzhul opened #132 "Renaming application"
As you know Nextcloud is growing more and more.

ownCloud SMS application name using Nextcloud seems an aberation.
As i want add more features than only receiving SMS from phones (maybe GPS position + call logs, adding an API for other app to fetch those data to do nice things in owncloud), i think we should have a better name.

Please add your propositions or comments.

Here are some current prop

[2016-12-15 10:51] nerzhul commented on #124
This but is now fixed, thanks for the report. I will open an issue to rename application comments will be welcome.

Here is the issue: https://github.com/nerzhul/ocsms/issues/132

[2016-12-15 10:51] #124 closed

[2016-12-15 11:00] nerzhul commented on #132
I also link the following issue for client side, as this is a very interesting work:

https://github.com/nerzhul/ownCloud-SMS-App/pull/118

[2016-12-15 11:20] stefan-niedermann commented on #130
Sure, it's not much work, i can do even more: Here's a PR that switches to core spinner (has to be reviewed and tested) #133

[2016-12-15 11:33] #130 closed

[2016-12-15 11:33] nerzhul commented on #130
Okay for me, the change is trivial

[2016-12-15 11:41] enoch85 commented on #132
A few more:
- NextPhone Sync
- NSync Phone
- Next Phone

[2016-12-15 11:49] stefan-niedermann opened #134 "Style messages more modern"
Imho the rounded bubbles look quiet old school (though they are functional :) )
I'd like to suggest a new look & feel for the chat entries.
- Lighter backgrounds should increase contrast and readability
- No border-radius (at least not this much) to look more modern

But since design is personal taste, you @nerzhul have to deside whether or not i will create a PR.
And since one image tells more th

[2016-12-15 12:24] enoch85 commented on #134
@stefan-niedermann You rock! :rocket:

[2016-12-15 12:55] nerzhul commented on #134
Very nice work !

[2016-12-15 12:56] nerzhul commented on #134
I like it, just the header design is ugly now :)

[2016-12-15 12:58] stefan-niedermann commented on #134
Always do small steps to get to the goal :)

[2016-12-15 13:01] nerzhul commented on #134
Merged, thanks

[2016-12-15 13:01] #134 closed

[2016-12-15 13:54] stefan-niedermann opened #137 "[Feature Request] Search"
Nextcloud provides a nice integration for a search functionality. I'd like to be able to use the search in this app, too.

![bildschirmfoto vom 2016-12-15 14 53 20](https://cloud.githubusercontent.com/assets/4741199/21226566/53f0efc2-c2d6-11e6-9f50-90b375936aff.png)

[2016-12-15 13:56] stefan-niedermann opened #138 "[Enhancement] Use white trashbin to delete whole conversation"
Just had a look at the contact app: They are simply using `class="icon-delete-white"` instead of `class="icon-delete"`.

[2016-12-15 14:47] nerzhul commented on #137
@stefan-niedermann this is an interesting feature, is there any documentation you know about that ?

[2016-12-15 16:08] stefan-niedermann commented on #137
Hm, havent't found a developer documentation after a quick search... Mayve @ChristophWurst can give you a hint because i think he was the one who implemented search in the Mail app?

[2016-12-15 16:18] ChristophWurst commented on #137
Hi,

you can use something like this:
[code]
(ref https://github.com/nextcloud/mail/blob/master/js/searchproxy.js)

[2016-12-15 20:00] nerzhul commented on #16
This is implemented since 1.11.0 release or lesser i think, i close this issue

[2016-12-15 20:00] #16 closed

[2016-12-15 20:20] nerzhul commented on #137
I'm studying that

[2016-12-15 23:29] ChristophWurst commented on #137
When is the code in https://github.com/nerzhul/ocsms/blob/6527fe2d901ab915a69f458776a8af658ad5a4d4/js/public/app.js#L295-L299 actually run? In Mail we noticed that the search filter has be be registered almost immediately after page load. Since we load our js via requirejs asynchronously, we've added a proxy to be able to set the proxied filter later.

Where? I'm pretty sure there's some javascrip

[2016-12-16 06:23] nerzhul commented on #137
The code is run directly as JS load if i remember because it's in the angular controller . If it should be done after page load i need to change a little bit the call

[2016-12-18 20:03] JSoko opened #139 "Can't activate on Nextcloud 11, 64bit or higher PHP required."
### Steps to reproduce
1. Update to Nextcloud 11.0
2. try to activate app
3. can't activate,  64bit or higher PHP required.

### Expected behaviour
Shold be possible to activate also on systems jast with PHP 7 32 bit (Armhf; odroid )

### Actual behaviour
 can't activate,  64bit or higher PHP required.

### Server configuration
**Operating system**: Linux OdOc 3.10.96 #1 SMP PREEMPT Mon May 23 01:

[2016-12-18 20:36] nerzhul commented on #139
Sorry but we didn't use any 64bit pure feature, only dates are 64 bits integer, but PHP should handle it properly, we only use PHP integers

[2016-12-19 05:23] michiil opened #140 "SMS restore broken (MySQL Syntax error or access violation)"
### Steps to reproduce
1. Start SMS restore on Android App

### Expected behaviour
SMS get restrored

### Actual behaviour
SMS don't get restored

### Server configuration

**ownCloud version:** Nextcloud 10.0.2

**PHP version:** 7.0.8

**HTTPd server:** nginx

**HTTPS:** yes

### Client configuration

**Android version:** 7.0.0

**Phone:** Oneplus 3

**ownCloud SMS app version:** 0.23.0

### Logs

[2016-12-19 07:01] stefan-niedermann commented on #132
Hm. I think we should pay attention for the following points:
- "Nextcloud" should be used - has a more official character and most of the other well-known apps do it, too.
- The name should be as short as possible - But i would be fine with "Nextcloud Phone Sync" - and when there is not much space, e. g. in the Nextcloud app menu or the android-launcher just name it "Phone Sync" - this is the way

[2016-12-19 09:41] nerzhul commented on #140
It seems the nextcloud/owncloud frameworks has problem converting LIMIT to string instead of INT in MySQL (no problem with sqlite & pg)

[2016-12-19 09:46] nerzhul commented on #140
Can you try this patch please ? https://github.com/nerzhul/ocsms/commit/292bd8b8140104fead7f8cba4ebd2d08b8776207

[2016-12-19 09:48] nerzhul commented on #139
Err, i see we talk about 64 integer in our dependencies, it's due to Android dates... hmmm, can you test a thing for me ?

in appinfo/info.xml, remove this line:

<php min-version="5.6" min-int-size="64"/>

Next, sync your SMS and tell me if you have the correct date in server app.

Thanks

[2016-12-19 11:27] JSoko commented on #139
of course...

which line?

[2016-12-19 11:40] JSoko commented on #139
I've now changed
` <php min-version="5.6" min-int-size="64"/>`
to
` <php min-version="5.6" min-int-size="32"/>`
in info.xml and could activate the app.

Now synced with my handy...
Dates are shown corrct with amican notation.

:-)

[2016-12-20 06:49] nerzhul commented on #139
Okay, then i add this fix to code, thanks for the review

[2016-12-20 06:51] #139 closed

[2016-12-20 12:01] elvirolo opened #141 "Can't install on 32bit server"
I'm trying the install ocsms 1.11.3 on an Nextcloud 11 instance running on an ARMv7 (32-bit) board.

### Steps to reproduce
1. Go to the Nextcloud app store or download ocsms manually.

### Expected behaviour
One should be able to click on the "enable" button.

### Actual behaviour
The following error is displayed:
"This app cannot be installed because the following dependencies are not fulfilled:

[2016-12-20 12:04] enoch85 commented on #141
https://github.com/nerzhul/ocsms/issues/139#issuecomment-267944715

[2016-12-20 12:09] elvirolo commented on #141
Sorry, I should have checked closed issues - I missed that one! Thank you very much.

[2016-12-20 12:10] #141 closed

[2016-12-20 13:01] nerzhul commented on #141
no problem @elvirolo

[2016-12-20 15:03] enoch85 commented on #132
Would be nice with more input on this, anyone else with a sugesstion, or should we go for `(Nextcloud) Phone Sync`

[2016-12-20 19:11] simonspa opened #142 "64bit or higher PHP required"
I cannot install your app on Nextcloud 11 running on a Raspberry Pi.

### Steps to reproduce
1. Goto App store in Nextcloud 11
2. Check the Nextcloud SMS app

### Expected behaviour
"Enable" button active, allowing installation

### Actual behaviour
Error message shown:

    64bit or higher PHP required.

### Server configuration

**Nextcloud version:**  11.0

**PHP version:** 5.6.27

**HTTPd serv

[2016-12-20 21:49] nerzhul commented on #142
Already fixed.

[2016-12-20 21:49] #142 closed

[2016-12-21 17:46] fir3wall opened #143 "Account configured on NextCloud app on Android not visible in application"
### Steps to reproduce
1. Install NextCloud app (1.4.0)
1.1. Configure your account in application
2. Install onwCloud-SMS app version 0.23.2

### Expected behaviour
Account configured in NextCloud application is not visible on My Accounts list.

### Actual behaviour
Account configured in NextCloud application is not visible on My Accounts list. Tried to remove account from system settings -> acco

[2016-12-21 19:42] nerzhul commented on #143
Hmmm strange, when testing on android emulator i saw the account. Maybe it's due to recent code refactoring to remove owncloud library and doing REST call ourselves. Will investigate soon.
Did you see the account in the app account list ?

[2016-12-21 19:50] nerzhul commented on #143
Oh i see the problem, in fact you think you can use the Nextcloud account to use owncloud SMS app, sorry but it's not possible at this moment because there is no sync between Nextcloud app & OcSMS app for name & sync parameters, and i think it's not very simple to do without breaking all clients.
Please add a Owncloud SMS account instead

[2016-12-21 19:50] #143 closed

[2016-12-21 19:51] fir3wall commented on #143
Yeah that what I was thinking is an issue - OK so I've downloaded your app from NextCloud store and what I need now on my phone - ownCloud app instead of NextCloud ? Tried to add this does not work for some reason.

Sorry little bit lost now!
D

[2016-12-21 19:54] nerzhul commented on #143
no, you need to download Owncloud SMS from play store or F-Droid (second is unofficial), links are in the app repository https://github.com/nerzhul/ownCloud-SMS-App

[2016-12-21 19:56] fir3wall commented on #143
Hello, This is app that I have downloaded in most recent version and I still cannot see on the list my NextCloud account.

[2016-12-22 03:56] jancborchardt commented on #132
»Phone sync for Nextcloud« seems to be even better. That puts the important parts first and makes them visible.

Please no strange names with weird capitalization like »NextPhone« or so. ;) People need to understand from the name what it does. :)

[2016-12-22 04:29] olantrust commented on #132
Nextcloud Phonesync
No need for 'phone sync' - easier and looks less cluttered just to have phonesync.
That way around also obviates the need for the word 'for' which looks clumsy.

[2016-12-22 08:00] nerzhul commented on #132
@jancborchardt thanks for inviting me in nextcloud organization, what can i do ? do you want me to fork the application in nextcloud group and maintain it in the group ?

[2016-12-22 08:44] enoch85 commented on #132
I think NSync is the best option actually... https://www.youtube.com/watch?v=GQMlWwIXg3M&feature=youtu.be&t=42s

[2016-12-22 11:46] stefan-niedermann commented on #132
Strange. So why are the other applications not called "Notes for Nextcloud", "News for Nextcloud", "Files for Nextcloud" and "Mail for Nextcloud"...? Does not seem to be very consistent to be honest...

[2016-12-29 04:34] Bugsbane opened #145 "Sync SMS messages from Signal"
Hi there,

This app looks like exactly what I need, however, given that I - like many Nextcloud users - am privacy conscious I use Signal as a more secure and privacy conscious option than the standard SMS app.

I'm wondering if it would be possible to extend this app to also import from Signal, even if it required a regular manual export from Signal (which already has an option to export all mess

[2016-12-29 08:03] nerzhul commented on #145
It's a client side issue and it's already asked in the client app repository

[2016-12-29 08:03] #145 closed

[2016-12-30 21:26] nerzhul commented on #140
Fixed by recent @yneveu patch, thanks to him

[2016-12-30 21:26] #140 closed

[2016-12-31 09:14] di72nn opened #147 "FTP download link changed"
ownCloud's internal updater tries to download https://ftp.unix-experience.fr/owncloud-sms/v1.11.4.zip, while the actual file is uploaded without "v" in it's name (https://ftp.unix-experience.fr/owncloud-sms/1.11.4.zip). This obviously results in `404 Not Found`.

"Download" button on this page fails too: https://apps.owncloud.com/content/show.php/ownCloud+SMS?content=167289.

Sorry if this is not

[2017-01-01 09:58] nerzhul commented on #147
exact, thanks for the report on owncloud app store, i fixed it now

[2017-01-01 09:58] #147 closed

[2017-01-02 17:47] freeeflyer commented on #112
FYI i just upgraded my trusty to php 7.0 (from ondrej repository)
I do not experience this error.. if you want me to test something just ask (not destructive, it's a production server)..

[2017-01-03 07:12] stefan-niedermann opened #148 "Colors of messages should depend on contact"
# Current behavior

- **Header bar** gets a random color
- **Received msg** is grey
- **Sent msg** is green

# Expected behavior

- **Header bar** gets a random color
- **Received msg** should get a color based on the Header bar color
- **Sent msg** should be grey

# Example

- **Header bar** is `rgb(124, 116, 231)` (purple)
- **Received msg border** should be `rgba(124, 116, 231, .6)` (purple)
-

[2017-01-03 07:20] stefan-niedermann opened #149 "Reuse colors from the contact app"
# Current behavior

ocsms seems to generate new colors for each conversation which may be different from the ones used in contacts app

# Expected behavior

ocsms should check if the contact exists in the contacts app and reuse the color from there

**When** there is a contact in the contacts app that matches the entry in ocsms
**Then** the color from the contacts app should be used

**When** ther

[2017-01-03 07:29] stefan-niedermann opened #150 "Add to contacts"
**Given** you are viewing a conversation in ocsms
**When** the contact does not exists in the contacts app
**Then** there should be an action to quickly add this contact to the contacts app

![add](https://cloud.githubusercontent.com/assets/4741199/21601799/50870f1c-d18e-11e6-920e-34c1fbd25ce0.png)

**Open questions**

- What exactly happens when a user triggers this action?
  - User is redirected

[2017-01-03 07:34] nerzhul commented on #148
interesting idea, can you provide a PR ?

[2017-01-03 07:36] nerzhul commented on #150
Hmmm it's not very simple, i think redirecting to contact app could be good, but i don't know if contact app is made to show the form with some form fields written.

[2017-01-03 07:37] nerzhul commented on #149
In fact i was using same color generation than contact app but maybe it has evolved and i didn't follow it

[2017-01-03 07:39] stefan-niedermann commented on #150
Maybe @skjnldsv can give us some input on how an integration could look like?

[2017-01-03 07:41] stefan-niedermann commented on #148
Yeah, but depends on how much time i can invest... i will maybe need some weeks to set up development environement.

[2017-01-03 08:05] skjnldsv commented on #150
Right now you can't since we don't allow some url mechanism to create contacts.
You could create a link to the contact if it exist though.
But it could be a great idea!

[2017-01-03 08:09] skjnldsv commented on #149
No no, it's fine!
It depends on what string you're using to generate the colours. You're use of `str.toHsl()` is very good, but instead of using `contact.label | peerColor`, you should use the contact uid `contact.uid() | contactColor`

[2017-01-03 08:14] stefan-niedermann commented on #150
That's the problem because it does **not** exist in this case :) We'd like to create one.
A URL-mechanism seems to be a good idea. Maybe one can create an issue in the contacts app repo and link it?

[2017-01-03 08:17] skjnldsv commented on #132
PhoneSync seems good to me. I wouldn't bother adding for nextcloud or else like @stefan-niedermann said.

[2017-01-03 08:24] stefan-niedermann opened #151 "MMS are not synced"
**When** i receive or send a MMS containing an image or some other data
**Then** this image should be synced to the server, too

[2017-01-03 08:36] nerzhul commented on #132
okay, Phone Sync then

[2017-01-03 08:42] stefan-niedermann commented on #132
@nerzhul if this is the final decision i will provide pull requests for the README.md-files (client & server) and for a [new icon](https://github.com/nerzhul/ownCloud-SMS-App/pull/118#issuecomment-267283056) (client & server).

[2017-01-03 09:22] nerzhul commented on #150
it could be interesting to have an API call to ContactManager service which provides the URL

[2017-01-03 09:22] nerzhul commented on #151
In fact the MMS format is very different than the SMS format (which is plain text) it's why MMS are not synced

[2017-01-03 09:23] nerzhul commented on #148
no problem, we have time :) i'm on many libre projects not time to code everything together

[2017-01-03 09:24] nerzhul commented on #149
contact object is not a contact app object, but a ocsms contact object, it's a little bit different because it's a simpler object not linked with database, as all phone numbers aren't known by contact app

[2017-01-03 10:06] stefan-niedermann commented on #151
Okay, just wanted to leave a note here that this is something a user would expect (at least i ;) ) - nethertheless it isn't urgent.

[2017-01-03 10:22] #149 closed

[2017-01-03 11:54] #132 closed

[2017-01-03 12:37] stefan-niedermann commented on #132
May i suggest to rename the repositorys?
nextcloud-phone-sync (ocsms)
nextcloud-phone-sync-android (ownCloud-SMS-App)

[2017-01-03 13:17] nerzhul commented on #132
@stefan-niedermann renaming the repository will break F-Droid build, somebody should fix it, and for repository names, it should be done yes, but a nextcloud dev invite me in nextcloud organization i think it can be useful to migrate server side to it

[2017-01-03 13:26] stefan-niedermann commented on #132
Totally agree :)

Totally disagree 😆 i renamed https://github.com/stefan-niedermann/nextcloud-notes recently and github creates automatically redirections, so the old links will still work without problems. F-Droid has no problem with this (nextcloud-notes is at F-Droid, too). The **only** thing that is really important is to keep the package-id the same.

But you are right, if the repo moves to g

[2017-01-04 06:32] nerzhul commented on #112
@freeeflyer it seems PHP 5.X is not very compliant with MySQL encoding then...

[2017-01-04 07:20] freeeflyer commented on #112
Oh I forgot.. I work with PostgreSQL not MySql

[2017-01-04 14:50] nerzhul opened #153 "New name Phone Sync => Phone ?"
Hello,
as you now see app is in nextcloud namespace. I discussed with @BernhardPosselt which prefers renaming app from PhoneSync to Phone because he said "Sync" is implicit.

@stefan-niedermann @enoch85

[2017-01-04 14:53] enoch85 commented on #153
Cool!

Yeah, fine by me. :+1:

[2017-01-04 16:18] stefan-niedermann commented on #153
Yeap, i'm fine with `Nextcloud Phone`, too :+1:

[2017-01-05 22:00] powerpaul17 opened #154 "Support for Emoticons in messages"
### Steps to reproduce
1. Tried to activate the app
2. Fails with error message (see below)

### Expected behaviour
Should install and activate the app

### Actual behaviour
Fails with error message (see below)

### Server configuration

**NextCloud/ownCloud version:** NC 11.0.0

**PHP version:** 7.0.8

**HTTPd server:** Apache2

**HTTPS:** Yes

### Client configuration

Latest version, but not re

[2017-01-05 23:12] enoch85 commented on #153
Just a thought, couldn't this app be confused with the regular Android app if it's called just "Phone"?

[2017-01-05 23:12] enoch85 commented on #153
cc @AndyScherzinger @tobiasKaminsky

[2017-01-05 23:35] AndyScherzinger commented on #153
I am fine with Phone.

The Android app is called "Nextcloud" as is the iOS app ;)

[2017-01-06 11:07] powerpaul17 commented on #154
It is related, but maybe I gave too little information, sorry for that.

[Here](https://docs.nextcloud.com/server/11/admin_manual/maintenance/mysql_4byte_support.html) it is described howto enable the multibyte configuration of the mysql database in order to support emoticons in all nextcloud apps. After doing that, the activation of the sms app fails with the above mentioned error message.

[2017-01-06 12:06] BernhardPosselt commented on #153
You won't call the app Phone on Android. You will call it something like Nextcloud/ownCloud Phone Connector or something similar. This name will only be used for the Nextcoud app in PHP since it fits the general convention pretty well: Notes, News, Calendar, Contacts, Files, Gallery, ... all one word that describes what they are used for ;)

[2017-01-06 12:08] nerzhul commented on #153
Agree with Bernhard

[2017-01-06 13:04] nerzhul commented on #154
@powerpaul17 interesting doc but it's experimental feature, i'm only working on non experimental feature and also we need portable backend (sqlite + postgresql + mysql)

[2017-01-06 16:30] enoch85 commented on #153
I rest my case.

[2017-01-06 20:07] powerpaul17 commented on #154
In my opinion this is a absolutely necessary feature nowadays. But anyway, I was able to install and activate the app by changing the size of the "sms_msg" field to 10240. This should also be more than enough for a single message.

[code]

[2017-01-07 23:09] FrederikLauber opened #155 "[Question] Documentation of db fields?"
Hi,

could someone please provide me with the documentaion of teh database fields used by ocsms?

I still have some dumped sms information from my last phone and want to write a program to push these sms into the database of my ocsms. While I already figured out how the sms were stored in the first place, I still need to know what all the fields in ocsms mean.

Thanks in advance!

PS:
These are th

[2017-01-08 05:56] adamlove86 opened #156 "Sync old messages"
Would love to be able to sync my old messages as a backup - perhaps it wouldn't be too hard for the app to slowly go through and back up/sync my old messages over time?

Running Nextcloud 11, Ubuntu, Nextcloud SMS 1.11.4

### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**NextCloud/ownCl

[2017-01-08 08:45] nerzhul commented on #156
Application synchronise messages differentially, what is the problem here ?

[2017-01-08 23:59] adamlove86 commented on #156
There is no problem, I got it working for the first time after the update.
The only thing is it only syncs new messages, and it would be great to have old messages, too. This makes the "restore all messages" function on the phone app so much more useful.
Thanks for your help and hope to hear from you soon!

[2017-01-09 09:19] nerzhul commented on #156
@adamlove86 i see the problem now, our current sync model is incremental & differential, it records the last ack date for the next synchronization.

Do you think adding a button to reset the last synchronized date to 0, permitting next synchronization to do full differential sync is a good solution ?

[2017-01-12 15:35] Magissia commented on #156
Yes

[2017-01-13 08:50] adamlove86 commented on #156
At the same time, I have approx 60,000 messages on my phone, so yes backup date from zero, but if backup doesn't complete at once, hopefully it can pick up from where it left off, or it can just synchronise a little more each time, in blocks of 500 or 1000, etc.

[2017-01-13 10:22] nerzhul commented on #156
don't forget it not's really a backup for a synchronization. And the synchronization is already paginated to prevent memory usage on Android and server side

[2017-01-16 10:59] CBainx opened #157 "Account not working with 2FA"
### Steps to reproduce
1. Install nextcloud SMS app.
2. Install android sms app.
3. Enable nextcloud 2 factor authentication.
4. Try to add sync account to android.

### Expected behaviour
Login procedure should ask for 2fa code.

### Actual behaviour
Login fails, wrong password.

### Server configuration

**NextCloud/ownCloud version:** Nextcloud 11

**PHP version:** 7

**HTTPd server:** apache2

[2017-01-16 19:20] nerzhul commented on #157
2FA is not compatible with this application as we use a passive synchronization protocol using web api. How can we use 2FA using standardized protocol ? Is there any application password like google ?

[2017-01-16 22:39] FrederikLauber opened #158 "Enable dynamic loading of messages while scrolling"
Hello,

after we have limited the initially shown sms to the 500 most recent ones (which is aweseome because it makes ocsms workable with big threads), I would like to see automatically loading messages while scrolling up (to older messages). If it cannot be donedynamically, give me a link with "Go back enougher 500 messages". As of yet, old messages area appareantly not accessible via the the web

[2017-01-17 06:52] StopTrain opened #159 "Nextcloud 11.0.1: Unable to enable OCSMS in Apps"
### Steps to reproduce
1. Go to Apps store
2. Try to enable OCSMS
3. Error is produced

### Expected behaviour
OCSMS Should enable allowing configuration

### Actual behaviour
Errors occur and unable to enable the app

### Logs

  [Doctrine\DBAL\Exception\DriverException]
  An exception occurred while executing 'CREATE TABLE `oc_ocsms_smsdatas` (`id` BIGINT AUTO_INCREMENT NOT NULL, `user_id` VARCH

[2017-01-17 13:08] #159 closed

[2017-01-17 13:09] nerzhul commented on #155
Hi @FrederikLauber it's quasi exactly Android database fieldsn except user_id, added and lastmodified

[2017-01-17 13:09] #155 closed

[2017-01-17 19:05] FrederikLauber commented on #155
Hi,

can you at least tell me by what you are identifying messages which need to be synced from the phone?
Id + date?
If you are only be using id I guess, you would have problems due to resets on the phne, right?

[2017-01-18 06:35] nerzhul commented on #155
at this moment id is used if i remember and we should switch to date

[2017-01-18 21:14] adri66 opened #160 "login or password incorrect"
I put the correct login and password but ownloud sms app make error "Login or password incorrect"

Sorry I don't have more information

Regards

[2017-01-18 21:27] nerzhul commented on #160
do you have 2FA enabled ?

[2017-01-18 21:54] nerzhul commented on #156
@adamlove86 can you re-open this issue in https://github.com/nerzhul/ownCloud-SMS-App please ?

[2017-01-18 21:54] #156 closed

[2017-01-18 22:39] Diablofan commented on #157
App Passwords do work with the app, go generate one in your user settings @CBainx and Nextcloud would just authenticate using that as the password instead of using the real user password. I just used it to log in and sync my SMSs and it started chugging away.

Proper 2FA support in the android app would be nice, but I don't think this is the right place for it.

[2017-01-18 23:14] Diablofan commented on #150
My problem, and I think this is similar enough, is that I have all of the contacts added to my contacts but the SMS app doesn't pick up on the contacts and associate them with the conversation.

I think presenting a selector to select contacts (pulled from the contacts app) would be a good idea, leave creating contacts to the contacts app. Having a Create New Contact item that asks for just a name

[2017-01-19 16:27] adri66 commented on #160
No, when I'm connect to nextcloud just enter my name and my password and it's work but on ocsm  I have the error "Login or password incorrect" 😕

[2017-01-20 18:14] Myppomeu opened #161 "Contact name sync"
### Steps to reproduce
1. Sync sms with old app (ownCloud-SMS)
2. See web interface
3. Sync sms with new app (Nextcloud SMS)
4. See web interface

### Expected behaviour
Expected behaviour is to see contact name in conversation name

### Actual behaviour
Not every contact name syncs, I see just phone numbers

### Server configuration

**NextCloud version:**
11.0.1

**PHP version:**
5.6.29

**HTTPd

[2017-01-20 18:19] Myppomeu opened #162 ""HTTP_RAW_POST_DATA is deprecated" in log"
### Steps to reproduce
1. Install Nextcloud SMS in Nextcloud instance and phone
2. Sync SMS
3. See Nextcloud log

### Expected behaviour
No errors

### Actual behaviour
Errors in log

### Server configuration

**NextCloud version:**
11.0.1

**PHP version:**
5.6.29

**HTTPd server:**
nginx 1.6.2

**HTTPS:**
No.

### Client configuration

**Android version:**
Android 6, Cyanogenmod 13

**Phone:**
Xi

[2017-01-20 18:50] nerzhul commented on #162
hello
thanks for the report, but what is this ? in PHP 7.0.15 (future version then) i haven't this warning.

Also, i think it's an upstream issue, we are not doing this ourselved

[2017-01-20 18:50] nerzhul commented on #161
Sorry but contact names are not synced. Please use contact app in nextcloud to make them solvable

[2017-01-20 18:50] #161 closed

[2017-01-20 18:52] Myppomeu commented on #161
Then how be explained that some contacts have names in SMS app? Contact app is installed.

[2017-01-20 18:54] Myppomeu commented on #162
Ok. Sorry for disturbing.

[2017-01-20 18:55] #162 closed

[2017-01-20 19:10] nerzhul commented on #161
Yes exactly, i didn't reinvent wheel, there is a very good contact sync using carddav, if you use it with oc sms everything will work properly

[2017-01-21 14:48] Myppomeu commented on #161
I found the reason. If contact have different numbers in carddav and sms, name does not displayed. For example, in carddav:
89995552233
In sms:
+79995552233
In android such difference does not matter.
Can this be fixed in ocsms or I should write to contacts app issue tracker?

[2017-01-21 16:53] nerzhul commented on #161
You should change your country in server side ocsms app to make numbers match

[2017-01-21 20:15] ztfftvr commented on #151
This feature would be really nice to have. I agree that it should be something added in a future release.

[2017-01-21 20:22] ztfftvr commented on #121
I have the same issue. When I look at my synced sms. A lot of the conversations are split with each under a different number like. 800-123-456 and another thread for the same conversation under the thread +1-800-123-456.
I wonder if the synced sms come in under each number randomly and owncloud can't have the same contact with a different number. Even if the different is a +1.
I changed a contacts

[2017-01-21 20:22] Myppomeu commented on #161
Yes, this was already done (in user settings in ocsms app), but does not help.

[2017-01-23 12:03] adri66 commented on #160
I find the problem !
I use cloudFlare for manage my dns and It's seting to pass http proxy for acces to my nextcloud

I have disable de http proxy and it's work fine !

[2017-01-23 12:47] nerzhul commented on #160
Nice, i close the issue

[2017-01-23 12:47] #160 closed

[2017-01-23 14:22] aventrax opened #163 "[Feature request] Google PageSpeed Tools"
Nextcloud scores only 20/100 with Google PageSpeed and there are many optimizations to be implemented (PageSpeed  show them). Is this kind of improvement scheduled for nextcloud?
I see my 2 installations are quite slow sometimes, especially from mobile...

https://developers.google.com/speed/pagespeed/

[2017-01-23 16:32] AndyScherzinger opened #164 "Favicon: Adapt Nextcloud color theme"
### Steps to reproduce
The favicon still has the oC dark blue, could this be changed to the Nc light blue?
This way it would fit nicely with the standard favicon and color theme.

![2017-01-23 17_31_42-sms - nextcloud](https://cloud.githubusercontent.com/assets/1315170/22212670/e1856ca8-e191-11e6-9a1d-d6977e242acd.png)

### Server configuration

**NextCloud/ownCloud version:**

* Nextcloud SMS 1.1

[2017-01-23 21:03] pci06 opened #165 "Synchronization error (impossible)"
Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas (user_id, added, lastmodified, sms_flags, sms_date, sms_id,sms_address, sms_msg, sms_mailbox, sms_type) VALUES (?,?,?,?,?,?,?,?,?,?)' with params ["pierre", "2017-01-23 20:47:54", "2017-01-23 20:47:54", "11", "1483619299547", 14615, "+00123456789", "Oui et toi \ud83d\ude0a", 0, 1]: SQLSTAT

[2017-01-23 21:54] FrederikLauber commented on #155
Hi,

also there seems to be something funny with the encoding...
As far as I understand, ocsms uses MySQL utf8_bin which only allows for 3 byte or less symbols and a lot of emojys are 4 byte long. Do you use soem kind of escaping?

[2017-01-23 21:55] nerzhul commented on #155
@FrederikLauber we have problems with this, i didn't found a valid solution for this, if you know how can we fix this could be nice

[2017-01-24 09:08] nerzhul commented on #165
It's an UTF8 problem, i did a related message in app repo:

[2017-01-24 09:08] nerzhul commented on #164
Yes it's possible without problem as nextcloud is our main support, and oc just a backport now

[2017-01-24 09:09] nerzhul commented on #163
Not related with this app

[2017-01-24 09:09] #163 closed

[2017-01-24 18:24] pci06 commented on #165
Or a better type for the column:
ALTER TABLE oc_ocsms_smsdatas MODIFY sms_msg TEXT;

This fix the problem and now I have a bunch of sms in my nextcloud instance.

Overall it would ease, in nextcloud sms app, a mysql text search query with this type, like we say in french: "je dis ça, je dis rien" ;-)

Thx.

[2017-01-24 18:37] pci06 commented on #155
I think you should try #165

[2017-01-24 19:56] pci06 commented on #165
Still have the problem with my solution and your's...
Looking arround to see if there's a *nice* way to convert (or filter [worst]) this type of string.

[2017-01-24 21:09] FrederikLauber commented on #155
Wow, Wow, Wow, hold on there.
Are you telling me that any sms encoded with 4byte utf8 (like an emoji) is not backuped by ocsms due to mysqls lack of proper utf8 support?

@pci06 sorry, that does not work in my case, my hoster is running cent os 6 and the mysql version is too old to be run with utf8mb4 and setting it to text seems to have the same problems.

Darn, I knew mysql was a nightmare, neve

[2017-01-24 21:50] pci06 commented on #165
I'm actually trying to follow the encoding "path" of a sms_msg string.
I'm actually looking at the connection charset between the client (OCP:DB/mysql) and the server (mysql).

[test_encoding.txt](https://github.com/nextcloud/ocsms/files/728038/test_encoding.txt)

The table encoding_test is using utf8_bin :)

[2017-01-25 22:37] FrederikLauber commented on #165
The problem is that utf8_bin in mysql is still only 3 bytes but the symbol you want to put in is 4 bytes long.
This has been fixed in mysql from version 5.5 onwards with the illnamed utf8mb4 encoding which is actual proper utf8 and not a 3 byte subset.

[2017-01-26 06:52] nerzhul commented on #165
it seems next nextcloud version will change the default encoding in MySQL databases

[2017-01-26 08:39] FrederikLauber commented on #165
Good, but the problem is with the MySQL server itself. Anyone running MySQL < 5.5 (like me :( ) cannot fix this... But that is my problem, not yours.

[2017-01-26 13:44] nerzhul commented on #165
Problem should be solved upstream by next nextcloud upgrade.

[2017-01-26 13:44] #165 closed

[2017-01-26 13:45] nerzhul commented on #71
This issue is now gone since many recent changes

[2017-01-26 13:45] #71 closed

[2017-01-26 21:18] thefreezaboy commented on #121
I finally got around to setting this up on my OC. Same issue as described above. I have a couple of threads one that includes the +1 country code and one that does not. I tried changing country and then changing back. Any news on this?

[2017-01-26 21:21] thefreezaboy commented on #4
I am not a developer but this is something I would love to see!

[2017-01-26 22:08] nerzhul commented on #121
@thefreezaboy the deduplication contact code is very sensible and these days i miss some time, i'm only on patching client app, but i hope i will get more time for server soon

[2017-01-30 16:11] JSoko commented on #153
Hello,

I think anythink with phone isn't a good name as long as the app "just" handles sms.

Why not just name it "Nextcloud SMS"?

[2017-01-30 16:38] BernhardPosselt commented on #153
@JSoko because the plan is to add more features than SMS which interface with your Phone

[2017-01-30 17:21] enoch85 commented on #153
What he said ---^

[2017-01-30 18:30] AndyScherzinger commented on #153
Well, it still needs to be shortened and the App shouldn't have Nextcloud in the same, simply since you can't read it.. Hello Phone screen ;)
![device-2017-01-30-192816](https://cloud.githubusercontent.com/assets/1315170/22435983/7174a9d8-e722-11e6-83c9-a5587a0d34e8.png)
Now it looks like Nextcloud Messenger :P

[2017-01-30 18:58] enoch85 opened #166 "Activate translations on Transifex"
Now when the app is under the /nextcloud repo on Github, wouldn't it be kind of easy to activate translation via Transifex?

[2017-01-30 20:21] jonlachmann commented on #4
Should we re-open this issue on the new bug tracker?

[2017-01-30 20:27] enoch85 commented on #4
@jonlachmann Which new bug tracker?

[2017-01-30 20:31] jonlachmann commented on #4
@enoch85 My bad, this is the new bug tracker, I was scrolling back and forth and thought this was the old one (before the move to nextcloud)

[2017-01-30 22:14] nerzhul commented on #166
@enoch85 could be possible but i'm not very transifex aware

[2017-01-31 05:18] Sanookmakmak opened #167 "Enable two way synchronisation"
At the moment, ocsms is just an one way sync.

Enable either two way sync or mention on Google Play Store as well as on Nextcloud App Store that this app is syncing only one way.

More info:
https://help.nextcloud.com/t/nextcloud-sms-1-11-4-one-way-or-two-way-sync/

[2017-01-31 06:44] enoch85 commented on #166
Maybe @MorrisJobke knows more?

[2017-01-31 06:48] nerzhul commented on #167
Synchronization is fine, it doesn't mean two way sync, we have one way sync + restore messages support, it's similar to two way sync but not exactly, because restore can only be done manually

[2017-01-31 06:52] enoch85 commented on #167
@nerzhul You talked about implementing real 2 way sync in version 2.0. Restoring is not 2-way sync.

2-way sync is: when you delete a message on the phone, it gets deleted in the app as well and vice versa.

[2017-01-31 06:53] nerzhul commented on #167
@enoch85 yeah i know, v 2.0 is late because i manage many free software, that take some time :(

[2017-01-31 06:59] enoch85 commented on #167
@nerzhul You're the hero! :1st_place_medal:

[2017-01-31 07:28] stefan-niedermann commented on #153
Yeah, but you have to differ between the **project name** and the **launcher name** - the notes app is called "Nextcloud Notes" while the launcher name shows only "Notes".
So "Nextcloud Phone Sync" would be good and the launcher name could only be "Phone Sync" - in combination with a blue/white icon everyone who installed it will know it belongs to Nextcloud ;)

[2017-01-31 08:38] BernhardPosselt commented on #153
@stefan-niedermann Android apps are a different topic, there can be more than one app that interfaces with the Nextcloud app with different names etc.

[2017-01-31 19:10] MorrisJobke commented on #166
It's also easy if it's not within the nextcloud repo 😉

Let me activate it.

[2017-01-31 19:12] enoch85 commented on #166
@MorrisJobke Great, thanks!

Could you do the same for https://github.com/nerzhul/ownCloud-SMS-App/issues?

[2017-01-31 19:28] MorrisJobke commented on #166
Done and works https://www.transifex.com/nextcloud/nextcloud/ocsms/

[2017-01-31 19:28] #166 closed

[2017-01-31 19:29] MorrisJobke commented on #166
Please open a ticket over there.

[2017-01-31 19:29] MorrisJobke commented on #166
Because for those repos @nextcloud-bot needs push access ;)

[2017-01-31 20:10] enoch85 commented on #166
@MorrisJobke Thanks a bunch!

@nerzhul Do you mind setting this up now when it's activated?

[2017-02-01 23:40] dienteperro opened #169 "Impossible to install app"
When trying to enable app constantly says table 'oc_ocsms_smsdatas' has problems. I deleted the table, recreated with the correct settings (TEXT) but then says table 'oc_ocsms_user_datas' already exists. Couldn't enable it in any way. My database was setup at the beginning of the Next cloud install as CREATE DATABASE nextcloud CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

Also mysql server do

[2017-02-02 02:20] rycks opened #170 "idea: forward to mail address ?"
Hello,
this is just an idea : send sms message to my mail address so i can have informations even if i forgot my phone at home for example ...

thanks,
Éric

[2017-02-02 11:11] enoch85 commented on #170
@rycks Why, when you have the App in Nextcloud that you can access from anywhere you want?

[2017-02-02 20:26] nerzhul commented on #170
i don't understand the interest too, and i don't want to re-invent a client mail, whereas you have the webapp

[2017-02-03 21:37] nerzhul commented on #169
Error is already fixed in master, we just need to release. If you want install it shortly please change column side in appinfos/database.xml

[2017-02-03 21:37] #169 closed

[2017-02-03 21:42] nerzhul commented on #169
I released 1.11.5 now to fix your issues

[2017-02-04 00:07] dienteperro commented on #169
My test server is fine now, will check on production in a few days! Thanks a lot. I try this proceed:

1. Untar Nextcloud bz2 file.
2. Run the .sh to fix directories perms and ownership
3. Create DB: CREATE DATABASE nextcloud CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
3.1 GRANT ALL ON nextcloud.* to 'nextcloud'@'localhost' IDENTIFIED BY 'set_database_password';
3.2 FLUSH PRIVILEGES;
4. Inst

[2017-02-04 10:13] enoch85 commented on #169
@dienteperro Just a question, why did you do all this manually when really the only thing you have to do is install the app from inside the Nextcloud App store?

[2017-02-04 12:23] nerzhul commented on #169
no problem, the MySQL shit UTF8 problem was fixed by @enoch85 not me :) i didn't knew UTF8 was bloated on MySQL (and i'm using pgsql)

[2017-02-05 00:06] talkinggoat commented on #121
Same issue, here.

[2017-02-05 05:40] Bodertz opened #171 "Messages with country code are split from messages without country code"
### Steps to reproduce
1. On phone, text yourself a message without using country code. You will receive the same message back.
2. On phone, text yourself a message using your country code. You will receive the same message.

Both messages you sent should be seen in the same conversation view.

3. Sync with server now.

### Expected behaviour
I should see one conversation on the server just as it

[2017-02-05 09:23] nerzhul commented on #171
duplicate #121

[2017-02-05 09:23] #171 closed

[2017-02-06 11:48] realitygaps commented on #71
@nerzhul  I still have this issue on latest nextcloud and fdroid nextcloud sms app.

[2017-02-06 11:50] nerzhul commented on #71
please convert your database & tables to utf8mb4, i cannot do it from app :(

[2017-02-06 14:05] dienteperro commented on #169
enoch85 I was trying to figure it out, and remove all and started from scratch in different ways trying to find in which step the problem arises. When I installed the app from the Nextcloud App store, it (the app) notifies me that can't be installed due to errors in the creation of the tables.

[2017-02-06 14:07] dienteperro commented on #169
nerzhul In my deep feelings I'm considering to use pgsql for my setup, but not totally sure due to lack of support from nextcloud developers. Also considering nginx as a replacement for apache.

[2017-02-06 15:12] nerzhul commented on #169
i don't know why they doesn't support pgsql as it has a stronger SGBD, unlike mysql (look at this UTF8 crap...)

[2017-02-06 15:45] enoch85 commented on #169
@dienteperro I don't know how you did when you converted the MySQL tables. If you really want to try it out with the correct way of converting the tables, please use the Nextcloud VM install script on a CLEAN Ubuntu 16.04 Server VM.
Info: https://github.com/nextcloud/vm/blob/master/README.md#build-requirements '
File: https://raw.githubusercontent.com/nextcloud/vm/master/nextcloud_install_producti

[2017-02-06 15:51] dienteperro commented on #169
I think is due to have a more inclusive user base, the usual lamp extended user base.On Feb 6, 2017 10:12 AM, Loïc Blot <notifications@github.com> wrote:i don't know why they doesn't support pgsql as it has a stronger SGBD, unlike mysql (look at this UTF8 crap...)

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-06 17:23] enoch85 commented on #169
@dienteperro What do you mean?

[2017-02-06 19:38] dienteperro commented on #169
There are lot of people/hostings out there that uses PHP+MySQL and havent use/know pgsql. Not referring to the team of nc of course. This could be a larger probable user/contributor base to start with. Just ideas Im not in shoes of nc ;-)On Feb 6, 2017 12:23 PM, Daniel Hansson <notifications@github.com> wrote:
I think is due to have a more inclusive user base, the usual lamp extended user base

@d

[2017-02-06 19:39] nerzhul commented on #169
yeah in understand well @dienteperro but the problem is MySQL and Emojis, this show many limitations :(

[2017-02-06 19:46] dienteperro commented on #169
@nerzhul You got me! definitely will give a try to nginx+pgsql in the next days! ;-D I also use an application (Nuxeo) that uses MongoDB for docs db store, trying to surpass pgsql limitations on scale out of documents... Mhhmm... could this be an interesting feature for Nextcloud in the future @enoch85 ?

[2017-02-06 19:48] nerzhul commented on #169
@dienteperro nginx or apache is not the problem here, i'm using apache 2.4 without problems :) it's just taste. Mongodb is purely shit, just a developper crazy thing, not an infrastructure thing, it's slow, and mongodb will use postgresql json backend because it's faster than their json backend... lol

[2017-02-06 19:51] dienteperro commented on #169
No MongoDB then, LOL!

[2017-02-06 20:18] enoch85 commented on #169
Nuff said.

[2017-02-10 05:34] adamlove86 opened #172 "An exception occurred while executing 'INSERT INTO oc_ocsms_smsdatas"
Hi there, I'm on the latest stable nextcloud snap (and 16.04 LTS) and am getting the following error. I don't _think_ it's emoji, however there is one in the body of the text.

### Steps to reproduce
1. Set up to sync on nextcloud SMS app.
2.
3.

### Expected behaviour

### Actual behaviour
get listed error above in log, only a few messages have synced.

### Server configuration
nextcloud snap
**N

[2017-02-10 06:58] nerzhul commented on #154
It's fixed

[2017-02-10 06:58] #154 closed

[2017-02-10 06:59] nerzhul commented on #172
Please use utf8mb4 in your database, it's the mysql utf8 problem, which is a fake utf8

[2017-02-10 06:59] #172 closed

[2017-02-10 17:29] adamlove86 commented on #172
@kyrofa is this a predefined in the Snap, or something I can fix myself? Thanks to both of you for your help.

[2017-02-10 17:48] nerzhul commented on #172
you should fix it yourself connecting to your db, there are some closed issues on this repo explaining it

[2017-02-10 18:02] enoch85 commented on #172
@adamlove86 http://www.lmgtfy.com/?q=enable+utf8mb4+nextcloud

[2017-02-13 00:14] #157 closed

[2017-02-13 09:59] nerzhul commented on #157
@Diablofan can i ask you to send us a PR on README.md to explain how to use create this password for 2FA ?

[2017-03-13 14:16] rushsteve1 opened #176 "Contacts not matching numbers"
### Steps to reproduce
1. Have a contact with a phone number formatted like: "1234567890"
2. Sync SMS
3. Contact does not match message chain because it synced as "123-456-7890"

### Expected behaviour
Contacts should fuzzy match message chains. Small differences in formatting like "1234567890" and "123-456-7890" or "+11234567890" (country code) act as if they are entirely different numbers.

###

[2017-03-13 15:09] nerzhul commented on #138
Fixed thanks

[2017-03-13 15:09] #138 closed

[2017-03-24 01:18] adamlove86 commented on #4
Hi there, Joaoapps (made Tasker app for Android) has just released a new app called Join, which allows you to send messages from your phone. I've successfully embedded it as an external site within my Nextcloud instance, as you'll see below.

I wonder if there's a way in which you can work together?

![screen shot 2017-03-24 at 12 06 55](https://cloud.githubusercontent.com/assets/20361489/24276609